<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hero_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,127},{50,43}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,6},{50,43}}</string>
                <key>sourceSize</key>
                <string>{66,53}</string>
            </dict>
            <key>hero_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,172},{50,41}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,7},{50,41}}</string>
                <key>sourceSize</key>
                <string>{66,53}</string>
            </dict>
            <key>hero_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,43},{52,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,6},{52,41}}</string>
                <key>sourceSize</key>
                <string>{66,53}</string>
            </dict>
            <key>hero_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,86},{52,39}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,7},{52,39}}</string>
                <key>sourceSize</key>
                <string>{66,53}</string>
            </dict>
            <key>hero_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{54,39}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,6},{54,39}}</string>
                <key>sourceSize</key>
                <string>{66,53}</string>
            </dict>
            <key>hero_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,86},{52,39}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,7},{52,39}}</string>
                <key>sourceSize</key>
                <string>{66,53}</string>
            </dict>
            <key>hero_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,43},{52,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,6},{52,41}}</string>
                <key>sourceSize</key>
                <string>{66,53}</string>
            </dict>
            <key>hero_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,172},{50,41}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,7},{50,41}}</string>
                <key>sourceSize</key>
                <string>{66,53}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>heroAnimation.png</string>
            <key>size</key>
            <string>{58,215}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:30fa051e03ba41b6517dfc2eac46d297:49ee684e0332ae07a59c7e1b6b642a3a:bf7b63e523ae54c1ae2451748a4f9ccf$</string>
            <key>textureFileName</key>
            <string>heroAnimation.png</string>
        </dict>
    </dict>
</plist>
