<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ice0.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,144},{100,106}}</string>
                <key>offset</key>
                <string>{2,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,39},{100,106}}</string>
                <key>sourceSize</key>
                <string>{174,168}</string>
            </dict>
            <key>ice1.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,312},{126,126}}</string>
                <key>offset</key>
                <string>{-3,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,28},{126,126}}</string>
                <key>sourceSize</key>
                <string>{174,168}</string>
            </dict>
            <key>ice2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{148,158}}</string>
                <key>offset</key>
                <string>{-3,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,10},{148,158}}</string>
                <key>sourceSize</key>
                <string>{174,168}</string>
            </dict>
            <key>ice3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,318},{144,152}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,7},{144,152}}</string>
                <key>sourceSize</key>
                <string>{174,168}</string>
            </dict>
            <key>ice4.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,2},{140,140}}</string>
                <key>offset</key>
                <string>{0,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,7},{140,140}}</string>
                <key>sourceSize</key>
                <string>{174,168}</string>
            </dict>
            <key>ice5.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,162},{134,148}}</string>
                <key>offset</key>
                <string>{1,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,5},{134,148}}</string>
                <key>sourceSize</key>
                <string>{174,168}</string>
            </dict>
            <key>ice6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,162},{134,154}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,11},{134,154}}</string>
                <key>sourceSize</key>
                <string>{174,168}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ice_hurt.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c554d3ca3f1a8fb0e98bae508c1ae8e2$</string>
            <key>textureFileName</key>
            <string>ice_hurt.png</string>
        </dict>
    </dict>
</plist>
