<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>paodan10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,432},{450,436}}</string>
                <key>offset</key>
                <string>{3,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,15},{450,436}}</string>
                <key>sourceSize</key>
                <string>{472,460}</string>
            </dict>
            <key>paodan11.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,442},{350,378}}</string>
                <key>offset</key>
                <string>{-7,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{54,58},{350,378}}</string>
                <key>sourceSize</key>
                <string>{472,460}</string>
            </dict>
            <key>paodan12.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,794},{350,360}}</string>
                <key>offset</key>
                <string>{-9,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{52,60},{350,360}}</string>
                <key>sourceSize</key>
                <string>{472,460}</string>
            </dict>
            <key>paodan13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,870},{342,328}}</string>
                <key>offset</key>
                <string>{-9,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,60},{342,328}}</string>
                <key>sourceSize</key>
                <string>{472,460}</string>
            </dict>
            <key>paodan14.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,1146},{302,320}}</string>
                <key>offset</key>
                <string>{11,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{96,68},{302,320}}</string>
                <key>sourceSize</key>
                <string>{472,460}</string>
            </dict>
            <key>paodan5.png</key>
            <dict>
                <key>frame</key>
                <string>{{834,740},{126,122}}</string>
                <key>offset</key>
                <string>{-1,-131}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{172,300},{126,122}}</string>
                <key>sourceSize</key>
                <string>{472,460}</string>
            </dict>
            <key>paodan6.png</key>
            <dict>
                <key>frame</key>
                <string>{{834,442},{296,180}}</string>
                <key>offset</key>
                <string>{-1,-101}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{87,241},{296,180}}</string>
                <key>sourceSize</key>
                <string>{472,460}</string>
            </dict>
            <key>paodan7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1200},{254,252}}</string>
                <key>offset</key>
                <string>{-5,-69}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{104,173},{254,252}}</string>
                <key>sourceSize</key>
                <string>{472,460}</string>
            </dict>
            <key>paodan8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{428,454}}</string>
                <key>offset</key>
                <string>{-3,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,6},{428,454}}</string>
                <key>sourceSize</key>
                <string>{472,460}</string>
            </dict>
            <key>paodan9.png</key>
            <dict>
                <key>frame</key>
                <string>{{458,2},{438,452}}</string>
                <key>offset</key>
                <string>{-2,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,8},{438,452}}</string>
                <key>sourceSize</key>
                <string>{472,460}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>paodan_hurt.pvr.ccz</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:217a571fe3273d51bcd423105c3e39a8$</string>
            <key>textureFileName</key>
            <string>paodan_hurt.pvr.ccz</string>
        </dict>
    </dict>
</plist>
