<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>leidian0.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,318},{56,54}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,56},{56,54}}</string>
                <key>sourceSize</key>
                <string>{174,168}</string>
            </dict>
            <key>leidian1.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,118},{110,110}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,28},{110,110}}</string>
                <key>sourceSize</key>
                <string>{174,168}</string>
            </dict>
            <key>leidian2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,228},{110,106}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,29},{110,106}}</string>
                <key>sourceSize</key>
                <string>{174,168}</string>
            </dict>
            <key>leidian3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,114},{116,112}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,28},{116,112}}</string>
                <key>sourceSize</key>
                <string>{174,168}</string>
            </dict>
            <key>leidian4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{122,110}}</string>
                <key>offset</key>
                <string>{7,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,29},{122,110}}</string>
                <key>sourceSize</key>
                <string>{174,168}</string>
            </dict>
            <key>leidian5.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,2},{120,114}}</string>
                <key>offset</key>
                <string>{5,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,29},{120,114}}</string>
                <key>sourceSize</key>
                <string>{174,168}</string>
            </dict>
            <key>leidian6.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,230},{108,86}}</string>
                <key>offset</key>
                <string>{4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,42},{108,86}}</string>
                <key>sourceSize</key>
                <string>{174,168}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>thunder_hurt.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:eb8bf550904835d59e9478fd5825cdcf$</string>
            <key>textureFileName</key>
            <string>thunder_hurt.png</string>
        </dict>
    </dict>
</plist>
