<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>common/kuangdi.png</key>
			<dict>
				<key>width</key>
				<integer>85</integer>
				<key>height</key>
				<integer>63</integer>
				<key>originalWidth</key>
				<integer>85</integer>
				<key>originalHeight</key>
				<integer>63</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>movement/tu_01.png</key>
			<dict>
				<key>width</key>
				<integer>715</integer>
				<key>height</key>
				<integer>161</integer>
				<key>originalWidth</key>
				<integer>715</integer>
				<key>originalHeight</key>
				<integer>161</integer>
				<key>x</key>
				<integer>87</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>common/vip_taitoubeijing.png</key>
			<dict>
				<key>width</key>
				<integer>242</integer>
				<key>height</key>
				<integer>40</integer>
				<key>originalWidth</key>
				<integer>242</integer>
				<key>originalHeight</key>
				<integer>40</integer>
				<key>x</key>
				<integer>804</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>common/anniu.png</key>
			<dict>
				<key>width</key>
				<integer>129</integer>
				<key>height</key>
				<integer>51</integer>
				<key>originalWidth</key>
				<integer>129</integer>
				<key>originalHeight</key>
				<integer>51</integer>
				<key>x</key>
				<integer>1048</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>common/anniu00.png</key>
			<dict>
				<key>width</key>
				<integer>129</integer>
				<key>height</key>
				<integer>51</integer>
				<key>originalWidth</key>
				<integer>129</integer>
				<key>originalHeight</key>
				<integer>51</integer>
				<key>x</key>
				<integer>1179</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>common/anniu001.png</key>
			<dict>
				<key>width</key>
				<integer>129</integer>
				<key>height</key>
				<integer>51</integer>
				<key>originalWidth</key>
				<integer>129</integer>
				<key>originalHeight</key>
				<integer>51</integer>
				<key>x</key>
				<integer>1310</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>movement/tu_02.png</key>
			<dict>
				<key>width</key>
				<integer>713</integer>
				<key>height</key>
				<integer>163</integer>
				<key>originalWidth</key>
				<integer>713</integer>
				<key>originalHeight</key>
				<integer>163</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>163</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>movement/tu_04.png</key>
			<dict>
				<key>width</key>
				<integer>710</integer>
				<key>height</key>
				<integer>161</integer>
				<key>originalWidth</key>
				<integer>710</integer>
				<key>originalHeight</key>
				<integer>161</integer>
				<key>x</key>
				<integer>715</integer>
				<key>y</key>
				<integer>163</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>movement/tu_03.png</key>
			<dict>
				<key>width</key>
				<integer>713</integer>
				<key>height</key>
				<integer>161</integer>
				<key>originalWidth</key>
				<integer>713</integer>
				<key>originalHeight</key>
				<integer>161</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>328</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>common/button_guanbi01.png</key>
			<dict>
				<key>width</key>
				<integer>74</integer>
				<key>height</key>
				<integer>69</integer>
				<key>originalWidth</key>
				<integer>74</integer>
				<key>originalHeight</key>
				<integer>69</integer>
				<key>x</key>
				<integer>715</integer>
				<key>y</key>
				<integer>328</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>common/button_guanbi02.png</key>
			<dict>
				<key>width</key>
				<integer>74</integer>
				<key>height</key>
				<integer>69</integer>
				<key>originalWidth</key>
				<integer>74</integer>
				<key>originalHeight</key>
				<integer>69</integer>
				<key>x</key>
				<integer>791</integer>
				<key>y</key>
				<integer>328</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>common/kuang.png</key>
			<dict>
				<key>width</key>
				<integer>133</integer>
				<key>height</key>
				<integer>94</integer>
				<key>originalWidth</key>
				<integer>133</integer>
				<key>originalHeight</key>
				<integer>94</integer>
				<key>x</key>
				<integer>867</integer>
				<key>y</key>
				<integer>328</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>0</integer>
			<key>textureFileName</key>
			<string>MovementUI0.png</string>
			<key>realTextureFileName</key>
			<string>MovementUI0.png</string>
			<key>size</key>
			<string>{2048,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2048</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>