<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>pvp1_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,589},{113,109}}</string>
                <key>offset</key>
                <string>{-1,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,11},{113,109}}</string>
                <key>sourceSize</key>
                <string>{119,121}</string>
            </dict>
            <key>pvp1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,819},{111,105}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,10},{111,105}}</string>
                <key>sourceSize</key>
                <string>{119,121}</string>
            </dict>
            <key>pvp1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,704},{113,107}}</string>
                <key>offset</key>
                <string>{-3,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,9},{113,107}}</string>
                <key>sourceSize</key>
                <string>{119,121}</string>
            </dict>
            <key>pvp1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,472},{115,109}}</string>
                <key>offset</key>
                <string>{-2,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,9},{115,109}}</string>
                <key>sourceSize</key>
                <string>{119,121}</string>
            </dict>
            <key>pvp1_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,238},{115,111}}</string>
                <key>offset</key>
                <string>{-2,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,8},{115,111}}</string>
                <key>sourceSize</key>
                <string>{119,121}</string>
            </dict>
            <key>pvp1_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,121},{115,113}}</string>
                <key>offset</key>
                <string>{-2,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,7},{115,113}}</string>
                <key>sourceSize</key>
                <string>{119,121}</string>
            </dict>
            <key>pvp1_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,355},{115,111}}</string>
                <key>offset</key>
                <string>{-2,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,10},{115,111}}</string>
                <key>sourceSize</key>
                <string>{119,121}</string>
            </dict>
            <key>pvp1_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{117,111}}</string>
                <key>offset</key>
                <string>{-1,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,10},{117,111}}</string>
                <key>sourceSize</key>
                <string>{119,121}</string>
            </dict>
            <key>pvp2_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,932},{80,56}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,6},{80,56}}</string>
                <key>sourceSize</key>
                <string>{96,68}</string>
            </dict>
            <key>pvp2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1014},{80,56}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,6},{80,56}}</string>
                <key>sourceSize</key>
                <string>{96,68}</string>
            </dict>
            <key>pvp2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1096},{80,56}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,6},{80,56}}</string>
                <key>sourceSize</key>
                <string>{96,68}</string>
            </dict>
            <key>pvp2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1178},{80,56}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,6},{80,56}}</string>
                <key>sourceSize</key>
                <string>{96,68}</string>
            </dict>
            <key>pvp2_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,1096},{78,56}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,6},{78,56}}</string>
                <key>sourceSize</key>
                <string>{96,68}</string>
            </dict>
            <key>pvp2_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1236},{80,56}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,6},{80,56}}</string>
                <key>sourceSize</key>
                <string>{96,68}</string>
            </dict>
            <key>pvp2_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,932},{80,56}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,6},{80,56}}</string>
                <key>sourceSize</key>
                <string>{96,68}</string>
            </dict>
            <key>pvp2_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,1014},{80,56}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,6},{80,56}}</string>
                <key>sourceSize</key>
                <string>{96,68}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>pvpAnimation.png</string>
            <key>size</key>
            <string>{118,1294}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8079f08d525c2cffa0d50dbc9c7e31b8:90703fee15ce38f50c2e5d332f8cf6f3:22b2b93c7c4edb1952f0d192c376e30a$</string>
            <key>textureFileName</key>
            <string>pvpAnimation.png</string>
        </dict>
    </dict>
</plist>
