<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>res/putonggongji11.png</key>
			<dict>
				<key>width</key>
				<integer>470</integer>
				<key>height</key>
				<integer>377</integer>
				<key>originalWidth</key>
				<integer>470</integer>
				<key>originalHeight</key>
				<integer>377</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>res/putonggongji12.png</key>
			<dict>
				<key>width</key>
				<integer>470</integer>
				<key>height</key>
				<integer>377</integer>
				<key>originalWidth</key>
				<integer>470</integer>
				<key>originalHeight</key>
				<integer>377</integer>
				<key>x</key>
				<integer>472</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>res/putonggongji13.png</key>
			<dict>
				<key>width</key>
				<integer>470</integer>
				<key>height</key>
				<integer>377</integer>
				<key>originalWidth</key>
				<integer>470</integer>
				<key>originalHeight</key>
				<integer>377</integer>
				<key>x</key>
				<integer>944</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>res/putonggongji14.png</key>
			<dict>
				<key>width</key>
				<integer>470</integer>
				<key>height</key>
				<integer>377</integer>
				<key>originalWidth</key>
				<integer>470</integer>
				<key>originalHeight</key>
				<integer>377</integer>
				<key>x</key>
				<integer>1416</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>res/putonggongji15.png</key>
			<dict>
				<key>width</key>
				<integer>470</integer>
				<key>height</key>
				<integer>377</integer>
				<key>originalWidth</key>
				<integer>470</integer>
				<key>originalHeight</key>
				<integer>377</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>379</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>res/putonggongji16.png</key>
			<dict>
				<key>width</key>
				<integer>470</integer>
				<key>height</key>
				<integer>377</integer>
				<key>originalWidth</key>
				<integer>470</integer>
				<key>originalHeight</key>
				<integer>377</integer>
				<key>x</key>
				<integer>472</integer>
				<key>y</key>
				<integer>379</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>res/putonggongji17.png</key>
			<dict>
				<key>width</key>
				<integer>470</integer>
				<key>height</key>
				<integer>377</integer>
				<key>originalWidth</key>
				<integer>470</integer>
				<key>originalHeight</key>
				<integer>377</integer>
				<key>x</key>
				<integer>944</integer>
				<key>y</key>
				<integer>379</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>res/putonggongji18.png</key>
			<dict>
				<key>width</key>
				<integer>470</integer>
				<key>height</key>
				<integer>377</integer>
				<key>originalWidth</key>
				<integer>470</integer>
				<key>originalHeight</key>
				<integer>377</integer>
				<key>x</key>
				<integer>1416</integer>
				<key>y</key>
				<integer>379</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>res/putonggongji19.png</key>
			<dict>
				<key>width</key>
				<integer>470</integer>
				<key>height</key>
				<integer>377</integer>
				<key>originalWidth</key>
				<integer>470</integer>
				<key>originalHeight</key>
				<integer>377</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>758</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>parts1/1.230001.png</key>
			<dict>
				<key>width</key>
				<integer>389</integer>
				<key>height</key>
				<integer>422</integer>
				<key>originalWidth</key>
				<integer>389</integer>
				<key>originalHeight</key>
				<integer>422</integer>
				<key>x</key>
				<integer>472</integer>
				<key>y</key>
				<integer>758</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>parts1/1.230002.png</key>
			<dict>
				<key>width</key>
				<integer>389</integer>
				<key>height</key>
				<integer>422</integer>
				<key>originalWidth</key>
				<integer>389</integer>
				<key>originalHeight</key>
				<integer>422</integer>
				<key>x</key>
				<integer>863</integer>
				<key>y</key>
				<integer>758</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>parts1/1.230003.png</key>
			<dict>
				<key>width</key>
				<integer>389</integer>
				<key>height</key>
				<integer>422</integer>
				<key>originalWidth</key>
				<integer>389</integer>
				<key>originalHeight</key>
				<integer>422</integer>
				<key>x</key>
				<integer>1254</integer>
				<key>y</key>
				<integer>758</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>parts1/1.230004.png</key>
			<dict>
				<key>width</key>
				<integer>389</integer>
				<key>height</key>
				<integer>422</integer>
				<key>originalWidth</key>
				<integer>389</integer>
				<key>originalHeight</key>
				<integer>422</integer>
				<key>x</key>
				<integer>1645</integer>
				<key>y</key>
				<integer>758</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>parts1/1.230005.png</key>
			<dict>
				<key>width</key>
				<integer>389</integer>
				<key>height</key>
				<integer>422</integer>
				<key>originalWidth</key>
				<integer>389</integer>
				<key>originalHeight</key>
				<integer>422</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>1182</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>parts1/1.230006.png</key>
			<dict>
				<key>width</key>
				<integer>389</integer>
				<key>height</key>
				<integer>422</integer>
				<key>originalWidth</key>
				<integer>389</integer>
				<key>originalHeight</key>
				<integer>422</integer>
				<key>x</key>
				<integer>391</integer>
				<key>y</key>
				<integer>1182</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>parts1/1.230007.png</key>
			<dict>
				<key>width</key>
				<integer>389</integer>
				<key>height</key>
				<integer>422</integer>
				<key>originalWidth</key>
				<integer>389</integer>
				<key>originalHeight</key>
				<integer>422</integer>
				<key>x</key>
				<integer>782</integer>
				<key>y</key>
				<integer>1182</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>res23/shoufaguang1.png</key>
			<dict>
				<key>width</key>
				<integer>335</integer>
				<key>height</key>
				<integer>237</integer>
				<key>originalWidth</key>
				<integer>335</integer>
				<key>originalHeight</key>
				<integer>237</integer>
				<key>x</key>
				<integer>1173</integer>
				<key>y</key>
				<integer>1182</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>res23/shoufaguang2.png</key>
			<dict>
				<key>width</key>
				<integer>335</integer>
				<key>height</key>
				<integer>237</integer>
				<key>originalWidth</key>
				<integer>335</integer>
				<key>originalHeight</key>
				<integer>237</integer>
				<key>x</key>
				<integer>1510</integer>
				<key>y</key>
				<integer>1182</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>res23/shoufaguang3.png</key>
			<dict>
				<key>width</key>
				<integer>335</integer>
				<key>height</key>
				<integer>237</integer>
				<key>originalWidth</key>
				<integer>335</integer>
				<key>originalHeight</key>
				<integer>237</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>1606</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>res23/shoufaguang4.png</key>
			<dict>
				<key>width</key>
				<integer>335</integer>
				<key>height</key>
				<integer>237</integer>
				<key>originalWidth</key>
				<integer>335</integer>
				<key>originalHeight</key>
				<integer>237</integer>
				<key>x</key>
				<integer>337</integer>
				<key>y</key>
				<integer>1606</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>res23/shoufaguang5.png</key>
			<dict>
				<key>width</key>
				<integer>335</integer>
				<key>height</key>
				<integer>237</integer>
				<key>originalWidth</key>
				<integer>335</integer>
				<key>originalHeight</key>
				<integer>237</integer>
				<key>x</key>
				<integer>674</integer>
				<key>y</key>
				<integer>1606</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>res23/shoufaguang6.png</key>
			<dict>
				<key>width</key>
				<integer>335</integer>
				<key>height</key>
				<integer>237</integer>
				<key>originalWidth</key>
				<integer>335</integer>
				<key>originalHeight</key>
				<integer>237</integer>
				<key>x</key>
				<integer>1011</integer>
				<key>y</key>
				<integer>1606</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>res23/shoufaguang7.png</key>
			<dict>
				<key>width</key>
				<integer>335</integer>
				<key>height</key>
				<integer>237</integer>
				<key>originalWidth</key>
				<integer>335</integer>
				<key>originalHeight</key>
				<integer>237</integer>
				<key>x</key>
				<integer>1348</integer>
				<key>y</key>
				<integer>1606</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>0</integer>
			<key>textureFileName</key>
			<string>LaZuoKeLao2.png</string>
			<key>realTextureFileName</key>
			<string>LaZuoKeLao2.png</string>
			<key>size</key>
			<string>{2048,2048}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2048</integer>
			<key>height</key>
			<integer>2048</integer>
		</dict>
	</dict>
</plist>