<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>lei1.png</key>
			<dict>
				<key>width</key>
				<integer>231</integer>
				<key>height</key>
				<integer>54</integer>
				<key>originalWidth</key>
				<integer>366</integer>
				<key>originalHeight</key>
				<integer>422</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>33.5</real>
				<key>offsetY</key>
				<real>148</real>
			</dict>
			<key>lei2.png</key>
			<dict>
				<key>width</key>
				<integer>221</integer>
				<key>height</key>
				<integer>145</integer>
				<key>originalWidth</key>
				<integer>366</integer>
				<key>originalHeight</key>
				<integer>422</integer>
				<key>x</key>
				<integer>231</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>26.5</real>
				<key>offsetY</key>
				<real>121.5</real>
			</dict>
			<key>lei3.png</key>
			<dict>
				<key>width</key>
				<integer>192</integer>
				<key>height</key>
				<integer>137</integer>
				<key>originalWidth</key>
				<integer>366</integer>
				<key>originalHeight</key>
				<integer>422</integer>
				<key>x</key>
				<integer>452</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>30</real>
				<key>offsetY</key>
				<real>123.5</real>
			</dict>
			<key>lei4.png</key>
			<dict>
				<key>width</key>
				<integer>195</integer>
				<key>height</key>
				<integer>131</integer>
				<key>originalWidth</key>
				<integer>366</integer>
				<key>originalHeight</key>
				<integer>422</integer>
				<key>x</key>
				<integer>644</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>7.5</real>
				<key>offsetY</key>
				<real>126.5</real>
			</dict>
			<key>lei5.png</key>
			<dict>
				<key>width</key>
				<integer>186</integer>
				<key>height</key>
				<integer>122</integer>
				<key>originalWidth</key>
				<integer>366</integer>
				<key>originalHeight</key>
				<integer>422</integer>
				<key>x</key>
				<integer>839</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>8</real>
				<key>offsetY</key>
				<real>129</real>
			</dict>
			<key>lei6.png</key>
			<dict>
				<key>width</key>
				<integer>165</integer>
				<key>height</key>
				<integer>122</integer>
				<key>originalWidth</key>
				<integer>366</integer>
				<key>originalHeight</key>
				<integer>422</integer>
				<key>x</key>
				<integer>1025</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>21.5</real>
				<key>offsetY</key>
				<real>129</real>
			</dict>
			<key>lei7.png</key>
			<dict>
				<key>width</key>
				<integer>175</integer>
				<key>height</key>
				<integer>129</integer>
				<key>originalWidth</key>
				<integer>366</integer>
				<key>originalHeight</key>
				<integer>422</integer>
				<key>x</key>
				<integer>1190</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>20.5</real>
				<key>offsetY</key>
				<real>127.5</real>
			</dict>
			<key>lei8.png</key>
			<dict>
				<key>width</key>
				<integer>191</integer>
				<key>height</key>
				<integer>141</integer>
				<key>originalWidth</key>
				<integer>366</integer>
				<key>originalHeight</key>
				<integer>422</integer>
				<key>x</key>
				<integer>1365</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>16.5</real>
				<key>offsetY</key>
				<real>125.5</real>
			</dict>
			<key>lei9.png</key>
			<dict>
				<key>width</key>
				<integer>212</integer>
				<key>height</key>
				<integer>153</integer>
				<key>originalWidth</key>
				<integer>366</integer>
				<key>originalHeight</key>
				<integer>422</integer>
				<key>x</key>
				<integer>1556</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>14</real>
				<key>offsetY</key>
				<real>122.5</real>
			</dict>
			<key>lei10.png</key>
			<dict>
				<key>width</key>
				<integer>310</integer>
				<key>height</key>
				<integer>413</integer>
				<key>originalWidth</key>
				<integer>366</integer>
				<key>originalHeight</key>
				<integer>422</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>153</integer>
				<key>offsetX</key>
				<real>-1</real>
				<key>offsetY</key>
				<real>-4.5</real>
			</dict>
			<key>lei11.png</key>
			<dict>
				<key>width</key>
				<integer>341</integer>
				<key>height</key>
				<integer>412</integer>
				<key>originalWidth</key>
				<integer>366</integer>
				<key>originalHeight</key>
				<integer>422</integer>
				<key>x</key>
				<integer>310</integer>
				<key>y</key>
				<integer>153</integer>
				<key>offsetX</key>
				<real>0.5</real>
				<key>offsetY</key>
				<real>-5</real>
			</dict>
			<key>lei12.png</key>
			<dict>
				<key>width</key>
				<integer>323</integer>
				<key>height</key>
				<integer>411</integer>
				<key>originalWidth</key>
				<integer>366</integer>
				<key>originalHeight</key>
				<integer>422</integer>
				<key>x</key>
				<integer>651</integer>
				<key>y</key>
				<integer>153</integer>
				<key>offsetX</key>
				<real>2.5</real>
				<key>offsetY</key>
				<real>-5.5</real>
			</dict>
			<key>lei13.png</key>
			<dict>
				<key>width</key>
				<integer>313</integer>
				<key>height</key>
				<integer>414</integer>
				<key>originalWidth</key>
				<integer>366</integer>
				<key>originalHeight</key>
				<integer>422</integer>
				<key>x</key>
				<integer>974</integer>
				<key>y</key>
				<integer>153</integer>
				<key>offsetX</key>
				<real>5.5</real>
				<key>offsetY</key>
				<real>-4</real>
			</dict>
			<key>lei14.png</key>
			<dict>
				<key>width</key>
				<integer>286</integer>
				<key>height</key>
				<integer>407</integer>
				<key>originalWidth</key>
				<integer>366</integer>
				<key>originalHeight</key>
				<integer>422</integer>
				<key>x</key>
				<integer>1287</integer>
				<key>y</key>
				<integer>153</integer>
				<key>offsetX</key>
				<real>-1</real>
				<key>offsetY</key>
				<real>-7.5</real>
			</dict>
			<key>lei15.png</key>
			<dict>
				<key>width</key>
				<integer>265</integer>
				<key>height</key>
				<integer>387</integer>
				<key>originalWidth</key>
				<integer>366</integer>
				<key>originalHeight</key>
				<integer>422</integer>
				<key>x</key>
				<integer>1573</integer>
				<key>y</key>
				<integer>153</integer>
				<key>offsetX</key>
				<real>7.5</real>
				<key>offsetY</key>
				<real>-6.5</real>
			</dict>
			<key>lei16.png</key>
			<dict>
				<key>width</key>
				<integer>222</integer>
				<key>height</key>
				<integer>342</integer>
				<key>originalWidth</key>
				<integer>366</integer>
				<key>originalHeight</key>
				<integer>422</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>567</integer>
				<key>offsetX</key>
				<real>4</real>
				<key>offsetY</key>
				<real>-29</real>
			</dict>
			<key>lei17.png</key>
			<dict>
				<key>width</key>
				<integer>125</integer>
				<key>height</key>
				<integer>238</integer>
				<key>originalWidth</key>
				<integer>366</integer>
				<key>originalHeight</key>
				<integer>422</integer>
				<key>x</key>
				<integer>222</integer>
				<key>y</key>
				<integer>567</integer>
				<key>offsetX</key>
				<real>6.5</real>
				<key>offsetY</key>
				<real>-33</real>
			</dict>
			<key>ayun19 (1).png</key>
			<dict>
				<key>width</key>
				<integer>492</integer>
				<key>height</key>
				<integer>113</integer>
				<key>originalWidth</key>
				<integer>521</integer>
				<key>originalHeight</key>
				<integer>150</integer>
				<key>x</key>
				<integer>347</integer>
				<key>y</key>
				<integer>567</integer>
				<key>offsetX</key>
				<real>-8.5</real>
				<key>offsetY</key>
				<real>18.5</real>
			</dict>
			<key>ayun19 (2).png</key>
			<dict>
				<key>width</key>
				<integer>492</integer>
				<key>height</key>
				<integer>144</integer>
				<key>originalWidth</key>
				<integer>521</integer>
				<key>originalHeight</key>
				<integer>150</integer>
				<key>x</key>
				<integer>839</integer>
				<key>y</key>
				<integer>567</integer>
				<key>offsetX</key>
				<real>10.5</real>
				<key>offsetY</key>
				<real>3</real>
			</dict>
			<key>ayun19 (3).png</key>
			<dict>
				<key>width</key>
				<integer>501</integer>
				<key>height</key>
				<integer>146</integer>
				<key>originalWidth</key>
				<integer>521</integer>
				<key>originalHeight</key>
				<integer>150</integer>
				<key>x</key>
				<integer>1331</integer>
				<key>y</key>
				<integer>567</integer>
				<key>offsetX</key>
				<real>10</real>
				<key>offsetY</key>
				<real>2</real>
			</dict>
			<key>ayun19 (4).png</key>
			<dict>
				<key>width</key>
				<integer>506</integer>
				<key>height</key>
				<integer>149</integer>
				<key>originalWidth</key>
				<integer>521</integer>
				<key>originalHeight</key>
				<integer>150</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>909</integer>
				<key>offsetX</key>
				<real>7.5</real>
				<key>offsetY</key>
				<real>0.5</real>
			</dict>
			<key>ayun19 (5).png</key>
			<dict>
				<key>width</key>
				<integer>509</integer>
				<key>height</key>
				<integer>150</integer>
				<key>originalWidth</key>
				<integer>521</integer>
				<key>originalHeight</key>
				<integer>150</integer>
				<key>x</key>
				<integer>506</integer>
				<key>y</key>
				<integer>909</integer>
				<key>offsetX</key>
				<real>6</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>ayun19 (6).png</key>
			<dict>
				<key>width</key>
				<integer>512</integer>
				<key>height</key>
				<integer>150</integer>
				<key>originalWidth</key>
				<integer>521</integer>
				<key>originalHeight</key>
				<integer>150</integer>
				<key>x</key>
				<integer>1015</integer>
				<key>y</key>
				<integer>909</integer>
				<key>offsetX</key>
				<real>4.5</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>ayun19 (7).png</key>
			<dict>
				<key>width</key>
				<integer>513</integer>
				<key>height</key>
				<integer>150</integer>
				<key>originalWidth</key>
				<integer>521</integer>
				<key>originalHeight</key>
				<integer>150</integer>
				<key>x</key>
				<integer>1527</integer>
				<key>y</key>
				<integer>909</integer>
				<key>offsetX</key>
				<real>4</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>ayun19 (8).png</key>
			<dict>
				<key>width</key>
				<integer>513</integer>
				<key>height</key>
				<integer>150</integer>
				<key>originalWidth</key>
				<integer>521</integer>
				<key>originalHeight</key>
				<integer>150</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>1059</integer>
				<key>offsetX</key>
				<real>4</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>ayun19 (9).png</key>
			<dict>
				<key>width</key>
				<integer>514</integer>
				<key>height</key>
				<integer>150</integer>
				<key>originalWidth</key>
				<integer>521</integer>
				<key>originalHeight</key>
				<integer>150</integer>
				<key>x</key>
				<integer>513</integer>
				<key>y</key>
				<integer>1059</integer>
				<key>offsetX</key>
				<real>3.5</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>ayun19 (10).png</key>
			<dict>
				<key>width</key>
				<integer>514</integer>
				<key>height</key>
				<integer>150</integer>
				<key>originalWidth</key>
				<integer>521</integer>
				<key>originalHeight</key>
				<integer>150</integer>
				<key>x</key>
				<integer>1027</integer>
				<key>y</key>
				<integer>1059</integer>
				<key>offsetX</key>
				<real>3.5</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>ayun19 (11).png</key>
			<dict>
				<key>width</key>
				<integer>515</integer>
				<key>height</key>
				<integer>150</integer>
				<key>originalWidth</key>
				<integer>521</integer>
				<key>originalHeight</key>
				<integer>150</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>1209</integer>
				<key>offsetX</key>
				<real>3</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>ayun19 (12).png</key>
			<dict>
				<key>width</key>
				<integer>515</integer>
				<key>height</key>
				<integer>150</integer>
				<key>originalWidth</key>
				<integer>521</integer>
				<key>originalHeight</key>
				<integer>150</integer>
				<key>x</key>
				<integer>515</integer>
				<key>y</key>
				<integer>1209</integer>
				<key>offsetX</key>
				<real>3</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>ayun19 (13).png</key>
			<dict>
				<key>width</key>
				<integer>516</integer>
				<key>height</key>
				<integer>150</integer>
				<key>originalWidth</key>
				<integer>521</integer>
				<key>originalHeight</key>
				<integer>150</integer>
				<key>x</key>
				<integer>1030</integer>
				<key>y</key>
				<integer>1209</integer>
				<key>offsetX</key>
				<real>2.5</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>ayun19 (14).png</key>
			<dict>
				<key>width</key>
				<integer>516</integer>
				<key>height</key>
				<integer>150</integer>
				<key>originalWidth</key>
				<integer>521</integer>
				<key>originalHeight</key>
				<integer>150</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>1359</integer>
				<key>offsetX</key>
				<real>2.5</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>ayun19 (15).png</key>
			<dict>
				<key>width</key>
				<integer>517</integer>
				<key>height</key>
				<integer>150</integer>
				<key>originalWidth</key>
				<integer>521</integer>
				<key>originalHeight</key>
				<integer>150</integer>
				<key>x</key>
				<integer>516</integer>
				<key>y</key>
				<integer>1359</integer>
				<key>offsetX</key>
				<real>2</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>ayun19 (16).png</key>
			<dict>
				<key>width</key>
				<integer>518</integer>
				<key>height</key>
				<integer>150</integer>
				<key>originalWidth</key>
				<integer>521</integer>
				<key>originalHeight</key>
				<integer>150</integer>
				<key>x</key>
				<integer>1033</integer>
				<key>y</key>
				<integer>1359</integer>
				<key>offsetX</key>
				<real>1.5</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>ayun19 (17).png</key>
			<dict>
				<key>width</key>
				<integer>518</integer>
				<key>height</key>
				<integer>150</integer>
				<key>originalWidth</key>
				<integer>521</integer>
				<key>originalHeight</key>
				<integer>150</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>1509</integer>
				<key>offsetX</key>
				<real>1.5</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>ayun19 (18).png</key>
			<dict>
				<key>width</key>
				<integer>519</integer>
				<key>height</key>
				<integer>150</integer>
				<key>originalWidth</key>
				<integer>521</integer>
				<key>originalHeight</key>
				<integer>150</integer>
				<key>x</key>
				<integer>518</integer>
				<key>y</key>
				<integer>1509</integer>
				<key>offsetX</key>
				<real>1</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>ayun19 (19).png</key>
			<dict>
				<key>width</key>
				<integer>517</integer>
				<key>height</key>
				<integer>150</integer>
				<key>originalWidth</key>
				<integer>521</integer>
				<key>originalHeight</key>
				<integer>150</integer>
				<key>x</key>
				<integer>1037</integer>
				<key>y</key>
				<integer>1509</integer>
				<key>offsetX</key>
				<real>2</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>0</integer>
			<key>textureFileName</key>
			<string>leiyun0.png</string>
			<key>realTextureFileName</key>
			<string>leiyun0.png</string>
			<key>size</key>
			<string>{2048,2048}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2048</integer>
			<key>height</key>
			<integer>2048</integer>
		</dict>
	</dict>
</plist>