<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>pve_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,2},{238,230}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,9},{238,230}}</string>
                <key>sourceSize</key>
                <string>{272,248}</string>
            </dict>
            <key>pve_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1232,2},{260,228}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,9},{260,228}}</string>
                <key>sourceSize</key>
                <string>{272,248}</string>
            </dict>
            <key>pve_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1494,2},{258,226}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,9},{258,226}}</string>
                <key>sourceSize</key>
                <string>{272,248}</string>
            </dict>
            <key>pve_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1754,2},{256,224}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,9},{256,224}}</string>
                <key>sourceSize</key>
                <string>{272,248}</string>
            </dict>
            <key>pve_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{252,238}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,8},{252,238}}</string>
                <key>sourceSize</key>
                <string>{272,248}</string>
            </dict>
            <key>pve_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,2},{250,234}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,10},{250,234}}</string>
                <key>sourceSize</key>
                <string>{272,248}</string>
            </dict>
            <key>pve_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{740,2},{246,234}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,9},{246,234}}</string>
                <key>sourceSize</key>
                <string>{272,248}</string>
            </dict>
            <key>pve_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{988,2},{242,232}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,9},{242,232}}</string>
                <key>sourceSize</key>
                <string>{272,248}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>pveAnimation.png</string>
            <key>size</key>
            <string>{2012,242}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e885cca053cf5147e68687b4196bcbc0:5f0797c4013302ad72617d86f9ddf7c7:c4fae79292e41ab3400d98f61ff8f0d7$</string>
            <key>textureFileName</key>
            <string>pveAnimation.png</string>
        </dict>
    </dict>
</plist>
