<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>pickcard_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{163,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{163,109}}</string>
                <key>sourceSize</key>
                <string>{163,109}</string>
            </dict>
            <key>pickcard_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{167,2},{163,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{163,109}}</string>
                <key>sourceSize</key>
                <string>{163,109}</string>
            </dict>
            <key>pickcard_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,2},{163,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{163,109}}</string>
                <key>sourceSize</key>
                <string>{163,109}</string>
            </dict>
            <key>pickcard_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{497,2},{163,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{163,109}}</string>
                <key>sourceSize</key>
                <string>{163,109}</string>
            </dict>
            <key>pickcard_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{662,2},{163,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{163,109}}</string>
                <key>sourceSize</key>
                <string>{163,109}</string>
            </dict>
            <key>pickcard_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{827,2},{163,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{163,109}}</string>
                <key>sourceSize</key>
                <string>{163,109}</string>
            </dict>
            <key>pickcard_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{992,2},{163,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{163,109}}</string>
                <key>sourceSize</key>
                <string>{163,109}</string>
            </dict>
            <key>pickcard_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1157,2},{163,107}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{163,107}}</string>
                <key>sourceSize</key>
                <string>{163,109}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>pickcardAnimation.png</string>
            <key>size</key>
            <string>{1322,113}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fd24617a42d48d708e172434ee09fb70:b98a6b232341fc836e913cdfc037edf4:0d0460af08a8aabf06c898526cfd196b$</string>
            <key>textureFileName</key>
            <string>pickcardAnimation.png</string>
        </dict>
    </dict>
</plist>
