<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>task_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1416,2},{168,210}}</string>
                <key>offset</key>
                <string>{7,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,2},{168,210}}</string>
                <key>sourceSize</key>
                <string>{184,214}</string>
            </dict>
            <key>task_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1232,2},{182,210}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{182,210}}</string>
                <key>sourceSize</key>
                <string>{184,214}</string>
            </dict>
            <key>task_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{184,212}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,212}}</string>
                <key>sourceSize</key>
                <string>{184,214}</string>
            </dict>
            <key>task_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,2},{184,212}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,212}}</string>
                <key>sourceSize</key>
                <string>{184,214}</string>
            </dict>
            <key>task_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,2},{172,212}}</string>
                <key>offset</key>
                <string>{5,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,0},{172,212}}</string>
                <key>sourceSize</key>
                <string>{184,214}</string>
            </dict>
            <key>task_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{892,2},{168,212}}</string>
                <key>offset</key>
                <string>{7,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,0},{168,212}}</string>
                <key>sourceSize</key>
                <string>{184,214}</string>
            </dict>
            <key>task_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1062,2},{168,212}}</string>
                <key>offset</key>
                <string>{7,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,0},{168,212}}</string>
                <key>sourceSize</key>
                <string>{184,214}</string>
            </dict>
            <key>task_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{548,2},{170,212}}</string>
                <key>offset</key>
                <string>{6,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,0},{170,212}}</string>
                <key>sourceSize</key>
                <string>{184,214}</string>
            </dict>
            <key>task_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{720,2},{170,212}}</string>
                <key>offset</key>
                <string>{6,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,0},{170,212}}</string>
                <key>sourceSize</key>
                <string>{184,214}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>taskAnimation.png</string>
            <key>size</key>
            <string>{1586,216}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ed6b038b2f1e12714111362196dc8fc4:6c1c13490036549bcba57887311b01c7:2af3163363ea33143dd97c4e8b890e75$</string>
            <key>textureFileName</key>
            <string>taskAnimation.png</string>
        </dict>
    </dict>
</plist>
