<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>10001.png</key>
            <dict>
                <key>frame</key>
                <string>{{818,2},{194,61}}</string>
                <key>offset</key>
                <string>{2,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,50},{194,61}}</string>
                <key>sourceSize</key>
                <string>{338,151}</string>
            </dict>
            <key>10002.png</key>
            <dict>
                <key>frame</key>
                <string>{{818,2},{194,61}}</string>
                <key>offset</key>
                <string>{2,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,50},{194,61}}</string>
                <key>sourceSize</key>
                <string>{338,151}</string>
            </dict>
            <key>10003.png</key>
            <dict>
                <key>frame</key>
                <string>{{532,2},{284,103}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,29},{284,103}}</string>
                <key>sourceSize</key>
                <string>{338,151}</string>
            </dict>
            <key>10004.png</key>
            <dict>
                <key>frame</key>
                <string>{{532,2},{284,103}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,29},{284,103}}</string>
                <key>sourceSize</key>
                <string>{338,151}</string>
            </dict>
            <key>10005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{268,113}}</string>
                <key>offset</key>
                <string>{20,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,19},{268,113}}</string>
                <key>sourceSize</key>
                <string>{338,151}</string>
            </dict>
            <key>10006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{268,113}}</string>
                <key>offset</key>
                <string>{20,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,19},{268,113}}</string>
                <key>sourceSize</key>
                <string>{338,151}</string>
            </dict>
            <key>10007.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,2},{258,111}}</string>
                <key>offset</key>
                <string>{24,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,22},{258,111}}</string>
                <key>sourceSize</key>
                <string>{338,151}</string>
            </dict>
            <key>10008.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,2},{258,111}}</string>
                <key>offset</key>
                <string>{24,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,22},{258,111}}</string>
                <key>sourceSize</key>
                <string>{338,151}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>smallSkillAttack_zhurizhe.png</string>
            <key>size</key>
            <string>{1014,117}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:29b0a5b6bf5b3e1d20fac3468a52a28d:ccaf9250db9a7a1fef54267b61794524:d04221191766b70b55ccb13fd3af4517$</string>
            <key>textureFileName</key>
            <string>smallSkillAttack_zhurizhe.png</string>
        </dict>
    </dict>
</plist>
