<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>guild_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1488,2},{206,72}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{206,72}}</string>
                <key>sourceSize</key>
                <string>{218,78}</string>
            </dict>
            <key>guild_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,2},{210,74}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{210,74}}</string>
                <key>sourceSize</key>
                <string>{218,78}</string>
            </dict>
            <key>guild_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{212,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{212,74}}</string>
                <key>sourceSize</key>
                <string>{218,78}</string>
            </dict>
            <key>guild_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,2},{212,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{212,74}}</string>
                <key>sourceSize</key>
                <string>{218,78}</string>
            </dict>
            <key>guild_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,2},{212,74}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{212,74}}</string>
                <key>sourceSize</key>
                <string>{218,78}</string>
            </dict>
            <key>guild_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{856,2},{210,72}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{210,72}}</string>
                <key>sourceSize</key>
                <string>{218,78}</string>
            </dict>
            <key>guild_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1068,2},{208,72}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{208,72}}</string>
                <key>sourceSize</key>
                <string>{218,78}</string>
            </dict>
            <key>guild_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1278,2},{208,72}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,4},{208,72}}</string>
                <key>sourceSize</key>
                <string>{218,78}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>guildAnimation.png</string>
            <key>size</key>
            <string>{1696,78}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bdc0ff1d2d8a330e5c9bdf48e735ad6e:95423538a5d63387fdaa0cdc199e05dd:2651c28ccbc9b3531ae0726bc9a2bebc$</string>
            <key>textureFileName</key>
            <string>guildAnimation.png</string>
        </dict>
    </dict>
</plist>
