<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dazhao_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,444},{347,218}}</string>
                <key>offset</key>
                <string>{4,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,47},{347,218}}</string>
                <key>sourceSize</key>
                <string>{355,300}</string>
            </dict>
            <key>dazhao_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,224},{347,218}}</string>
                <key>offset</key>
                <string>{4,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,38},{347,218}}</string>
                <key>sourceSize</key>
                <string>{355,300}</string>
            </dict>
            <key>dazhao_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{347,220}}</string>
                <key>offset</key>
                <string>{4,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,43},{347,220}}</string>
                <key>sourceSize</key>
                <string>{355,300}</string>
            </dict>
            <key>dazhao_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,664},{347,216}}</string>
                <key>offset</key>
                <string>{4,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,46},{347,216}}</string>
                <key>sourceSize</key>
                <string>{355,300}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>bigSkillAttack_Kelthuzad.pvr.ccz</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:34fbd30584c9542085ae07a4da9feefd$</string>
            <key>textureFileName</key>
            <string>bigSkillAttack_Kelthuzad.pvr.ccz</string>
        </dict>
    </dict>
</plist>
