<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>huoyanbage_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,2},{160,127}}</string>
                <key>offset</key>
                <string>{7,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,10},{160,127}}</string>
                <key>sourceSize</key>
                <string>{174,137}</string>
            </dict>
            <key>huoyanbage_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{160,131}}</string>
                <key>offset</key>
                <string>{7,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,6},{160,131}}</string>
                <key>sourceSize</key>
                <string>{174,137}</string>
            </dict>
            <key>huoyanbage_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{277,397},{132,115}}</string>
                <key>offset</key>
                <string>{6,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,22},{132,115}}</string>
                <key>sourceSize</key>
                <string>{174,137}</string>
            </dict>
            <key>huoyanbage_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{277,278},{132,117}}</string>
                <key>offset</key>
                <string>{8,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,20},{132,117}}</string>
                <key>sourceSize</key>
                <string>{174,137}</string>
            </dict>
            <key>huoyanbage_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{303,141},{136,135}}</string>
                <key>offset</key>
                <string>{-6,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,2},{136,135}}</string>
                <key>sourceSize</key>
                <string>{174,137}</string>
            </dict>
            <key>huoyanbage_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,135},{136,137}}</string>
                <key>offset</key>
                <string>{-6,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,0},{136,137}}</string>
                <key>sourceSize</key>
                <string>{174,137}</string>
            </dict>
            <key>huoyanbage_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,2},{144,137}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,0},{144,137}}</string>
                <key>sourceSize</key>
                <string>{174,137}</string>
            </dict>
            <key>huoyanbage_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,131},{136,137}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,0},{136,137}}</string>
                <key>sourceSize</key>
                <string>{174,137}</string>
            </dict>
            <key>huoyanbage_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{141,269},{134,127}}</string>
                <key>offset</key>
                <string>{1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,10},{134,127}}</string>
                <key>sourceSize</key>
                <string>{174,137}</string>
            </dict>
            <key>huoyanbage_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,398},{126,129}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,8},{126,129}}</string>
                <key>sourceSize</key>
                <string>{174,137}</string>
            </dict>
            <key>huoyanbage_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,273},{132,127}}</string>
                <key>offset</key>
                <string>{5,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,10},{132,127}}</string>
                <key>sourceSize</key>
                <string>{174,137}</string>
            </dict>
            <key>huoyanbage_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,402},{126,123}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,14},{126,123}}</string>
                <key>sourceSize</key>
                <string>{174,137}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>smallSkillAttack_KeLuoMaGuSi.pvr.ccz</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c93db2150e47a4d60d6eb2574abd19e4$</string>
            <key>textureFileName</key>
            <string>smallSkillAttack_KeLuoMaGuSi.pvr.ccz</string>
        </dict>
    </dict>
</plist>
