<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dalong_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{918,76},{250,86}}</string>
                <key>offset</key>
                <string>{-12,-145}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{63,332},{250,86}}</string>
                <key>sourceSize</key>
                <string>{400,460}</string>
            </dict>
            <key>dalong_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{906,560},{212,78}}</string>
                <key>offset</key>
                <string>{8,-142}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{102,333},{212,78}}</string>
                <key>sourceSize</key>
                <string>{400,460}</string>
            </dict>
            <key>dalong_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,724},{352,418}}</string>
                <key>offset</key>
                <string>{9,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{33,39},{352,418}}</string>
                <key>sourceSize</key>
                <string>{400,460}</string>
            </dict>
            <key>dalong_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,368},{354,450}}</string>
                <key>offset</key>
                <string>{9,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,8},{354,450}}</string>
                <key>sourceSize</key>
                <string>{400,460}</string>
            </dict>
            <key>dalong_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{464,2},{372,452}}</string>
                <key>offset</key>
                <string>{2,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,8},{372,452}}</string>
                <key>sourceSize</key>
                <string>{400,460}</string>
            </dict>
            <key>dalong_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{364,460}}</string>
                <key>offset</key>
                <string>{7,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,0},{364,460}}</string>
                <key>sourceSize</key>
                <string>{400,460}</string>
            </dict>
            <key>dalong_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{918,2},{104,72}}</string>
                <key>offset</key>
                <string>{7,-149}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{155,343},{104,72}}</string>
                <key>sourceSize</key>
                <string>{400,460}</string>
            </dict>
            <key>dalong_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{918,328},{230,84}}</string>
                <key>offset</key>
                <string>{10,-144}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{95,332},{230,84}}</string>
                <key>sourceSize</key>
                <string>{400,460}</string>
            </dict>
            <key>dalong_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{786,1078},{214,246}}</string>
                <key>offset</key>
                <string>{8,-70}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{101,177},{214,246}}</string>
                <key>sourceSize</key>
                <string>{400,460}</string>
            </dict>
            <key>dalong_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1762},{282,250}}</string>
                <key>offset</key>
                <string>{15,-65}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{74,170},{282,250}}</string>
                <key>sourceSize</key>
                <string>{400,460}</string>
            </dict>
            <key>dalong_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1426},{342,334}}</string>
                <key>offset</key>
                <string>{4,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,91},{342,334}}</string>
                <key>sourceSize</key>
                <string>{400,460}</string>
            </dict>
            <key>dalong_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,724},{342,426}}</string>
                <key>offset</key>
                <string>{5,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{34,0},{342,426}}</string>
                <key>sourceSize</key>
                <string>{400,460}</string>
            </dict>
            <key>dalong_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,376},{346,450}}</string>
                <key>offset</key>
                <string>{5,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,0},{346,450}}</string>
                <key>sourceSize</key>
                <string>{400,460}</string>
            </dict>
            <key>dalong_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,1078},{356,382}}</string>
                <key>offset</key>
                <string>{11,-30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{33,69},{356,382}}</string>
                <key>sourceSize</key>
                <string>{400,460}</string>
            </dict>
            <key>dalong_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1068},{356,398}}</string>
                <key>offset</key>
                <string>{10,-27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,58},{356,398}}</string>
                <key>sourceSize</key>
                <string>{400,460}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>bigSkillAttack_aonikexiya.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d09b1fa8084b9d272df97a0cd8074585$</string>
            <key>textureFileName</key>
            <string>bigSkillAttack_aonikexiya.png</string>
        </dict>
    </dict>
</plist>
