<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>mofazhen_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,341},{251,85}}</string>
                <key>offset</key>
                <string>{-22,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,42},{251,85}}</string>
                <key>sourceSize</key>
                <string>{381,157}</string>
            </dict>
            <key>mofazhen_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{219,517},{213,77}}</string>
                <key>offset</key>
                <string>{-2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{82,43},{213,77}}</string>
                <key>sourceSize</key>
                <string>{381,157}</string>
            </dict>
            <key>mofazhen_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{235,458},{231,57}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,51},{231,57}}</string>
                <key>sourceSize</key>
                <string>{381,157}</string>
            </dict>
            <key>mofazhen_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{195,685},{183,107}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{101,25},{183,107}}</string>
                <key>sourceSize</key>
                <string>{381,157}</string>
            </dict>
            <key>mofazhen_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,596},{105,77}}</string>
                <key>offset</key>
                <string>{-3,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{135,52},{105,77}}</string>
                <key>sourceSize</key>
                <string>{381,157}</string>
            </dict>
            <key>mofazhen_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,622},{191,105}}</string>
                <key>offset</key>
                <string>{30,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{125,22},{191,105}}</string>
                <key>sourceSize</key>
                <string>{381,157}</string>
            </dict>
            <key>mofazhen_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{267,244},{105,73}}</string>
                <key>offset</key>
                <string>{-3,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{135,51},{105,73}}</string>
                <key>sourceSize</key>
                <string>{381,157}</string>
            </dict>
            <key>mofazhen_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,428},{231,83}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,42},{231,83}}</string>
                <key>sourceSize</key>
                <string>{381,157}</string>
            </dict>
            <key>mofazhen_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,513},{215,107}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,25},{215,107}}</string>
                <key>sourceSize</key>
                <string>{381,157}</string>
            </dict>
            <key>mofazhen_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{219,596},{211,87}}</string>
                <key>offset</key>
                <string>{-2,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{83,42},{211,87}}</string>
                <key>sourceSize</key>
                <string>{381,157}</string>
            </dict>
            <key>mofazhen_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{255,351},{241,105}}</string>
                <key>offset</key>
                <string>{5,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,22},{241,105}}</string>
                <key>sourceSize</key>
                <string>{381,157}</string>
            </dict>
            <key>mofazhen_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,244},{263,95}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,33},{263,95}}</string>
                <key>sourceSize</key>
                <string>{381,157}</string>
            </dict>
            <key>mofazhen_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{343,2},{293,117}}</string>
                <key>offset</key>
                <string>{1,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{45,17},{293,117}}</string>
                <key>sourceSize</key>
                <string>{381,157}</string>
            </dict>
            <key>mofazhen_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,127},{319,115}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,24},{319,115}}</string>
                <key>sourceSize</key>
                <string>{381,157}</string>
            </dict>
            <key>mofazhen_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{339,123}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,20},{339,123}}</string>
                <key>sourceSize</key>
                <string>{381,157}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>bigSkillAttack_aonikexiya_di.pvr.ccz</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:65e6a9e11e3d730d027d3a5d23ecdd53$</string>
            <key>textureFileName</key>
            <string>bigSkillAttack_aonikexiya_di.pvr.ccz</string>
        </dict>
    </dict>
</plist>
