<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>baoyan_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,523},{167,226}}</string>
                <key>offset</key>
                <string>{-5,-41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{76,94},{167,226}}</string>
                <key>sourceSize</key>
                <string>{329,332}</string>
            </dict>
            <key>baoyan_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{273,258},{191,232}}</string>
                <key>offset</key>
                <string>{1,-37}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{70,87},{191,232}}</string>
                <key>sourceSize</key>
                <string>{329,332}</string>
            </dict>
            <key>baoyan_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,451},{209,244}}</string>
                <key>offset</key>
                <string>{-3,-32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{57,76},{209,244}}</string>
                <key>sourceSize</key>
                <string>{329,332}</string>
            </dict>
            <key>baoyan_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{273,2},{233,254}}</string>
                <key>offset</key>
                <string>{-3,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,70},{233,254}}</string>
                <key>sourceSize</key>
                <string>{329,332}</string>
            </dict>
            <key>baoyan_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,268},{253,260}}</string>
                <key>offset</key>
                <string>{-3,-32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{35,68},{253,260}}</string>
                <key>sourceSize</key>
                <string>{329,332}</string>
            </dict>
            <key>baoyan_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{269,264}}</string>
                <key>offset</key>
                <string>{-3,-33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,67},{269,264}}</string>
                <key>sourceSize</key>
                <string>{329,332}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>smallSkillAttack_aonikexiya.pvr.ccz</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:de3762ec64fe50034234f8cfd2894222$</string>
            <key>textureFileName</key>
            <string>smallSkillAttack_aonikexiya.pvr.ccz</string>
        </dict>
    </dict>
</plist>
