<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>bao_0.png</key>
			<dict>
				<key>width</key>
				<integer>89</integer>
				<key>height</key>
				<integer>161</integer>
				<key>originalWidth</key>
				<integer>89</integer>
				<key>originalHeight</key>
				<integer>161</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>fenhuo_0.png</key>
			<dict>
				<key>width</key>
				<integer>200</integer>
				<key>height</key>
				<integer>150</integer>
				<key>originalWidth</key>
				<integer>200</integer>
				<key>originalHeight</key>
				<integer>150</integer>
				<key>x</key>
				<integer>91</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>fenhuo_1.png</key>
			<dict>
				<key>width</key>
				<integer>200</integer>
				<key>height</key>
				<integer>150</integer>
				<key>originalWidth</key>
				<integer>200</integer>
				<key>originalHeight</key>
				<integer>150</integer>
				<key>x</key>
				<integer>293</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>fenhuo_2.png</key>
			<dict>
				<key>width</key>
				<integer>200</integer>
				<key>height</key>
				<integer>150</integer>
				<key>originalWidth</key>
				<integer>200</integer>
				<key>originalHeight</key>
				<integer>150</integer>
				<key>x</key>
				<integer>495</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>fenhuo_3.png</key>
			<dict>
				<key>width</key>
				<integer>200</integer>
				<key>height</key>
				<integer>150</integer>
				<key>originalWidth</key>
				<integer>200</integer>
				<key>originalHeight</key>
				<integer>150</integer>
				<key>x</key>
				<integer>697</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>fenhuo_4.png</key>
			<dict>
				<key>width</key>
				<integer>200</integer>
				<key>height</key>
				<integer>150</integer>
				<key>originalWidth</key>
				<integer>200</integer>
				<key>originalHeight</key>
				<integer>150</integer>
				<key>x</key>
				<integer>899</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>fenhuo_5.png</key>
			<dict>
				<key>width</key>
				<integer>200</integer>
				<key>height</key>
				<integer>150</integer>
				<key>originalWidth</key>
				<integer>200</integer>
				<key>originalHeight</key>
				<integer>150</integer>
				<key>x</key>
				<integer>1101</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>fenhuo_6.png</key>
			<dict>
				<key>width</key>
				<integer>200</integer>
				<key>height</key>
				<integer>150</integer>
				<key>originalWidth</key>
				<integer>200</integer>
				<key>originalHeight</key>
				<integer>150</integer>
				<key>x</key>
				<integer>1303</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>fenhuo_7.png</key>
			<dict>
				<key>width</key>
				<integer>200</integer>
				<key>height</key>
				<integer>150</integer>
				<key>originalWidth</key>
				<integer>200</integer>
				<key>originalHeight</key>
				<integer>150</integer>
				<key>x</key>
				<integer>1505</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>fenhuo_8.png</key>
			<dict>
				<key>width</key>
				<integer>200</integer>
				<key>height</key>
				<integer>150</integer>
				<key>originalWidth</key>
				<integer>200</integer>
				<key>originalHeight</key>
				<integer>150</integer>
				<key>x</key>
				<integer>1707</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>fenhuo_9.png</key>
			<dict>
				<key>width</key>
				<integer>200</integer>
				<key>height</key>
				<integer>150</integer>
				<key>originalWidth</key>
				<integer>200</integer>
				<key>originalHeight</key>
				<integer>150</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>163</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>huoquan2.png</key>
			<dict>
				<key>width</key>
				<integer>90</integer>
				<key>height</key>
				<integer>122</integer>
				<key>originalWidth</key>
				<integer>90</integer>
				<key>originalHeight</key>
				<integer>122</integer>
				<key>x</key>
				<integer>202</integer>
				<key>y</key>
				<integer>163</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>jujiw_1.png</key>
			<dict>
				<key>width</key>
				<integer>259</integer>
				<key>height</key>
				<integer>254</integer>
				<key>originalWidth</key>
				<integer>259</integer>
				<key>originalHeight</key>
				<integer>254</integer>
				<key>x</key>
				<integer>294</integer>
				<key>y</key>
				<integer>163</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>jujiw_2.png</key>
			<dict>
				<key>width</key>
				<integer>259</integer>
				<key>height</key>
				<integer>254</integer>
				<key>originalWidth</key>
				<integer>259</integer>
				<key>originalHeight</key>
				<integer>254</integer>
				<key>x</key>
				<integer>555</integer>
				<key>y</key>
				<integer>163</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>jujiw_3.png</key>
			<dict>
				<key>width</key>
				<integer>259</integer>
				<key>height</key>
				<integer>254</integer>
				<key>originalWidth</key>
				<integer>259</integer>
				<key>originalHeight</key>
				<integer>254</integer>
				<key>x</key>
				<integer>816</integer>
				<key>y</key>
				<integer>163</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>jujiw_4.png</key>
			<dict>
				<key>width</key>
				<integer>259</integer>
				<key>height</key>
				<integer>254</integer>
				<key>originalWidth</key>
				<integer>259</integer>
				<key>originalHeight</key>
				<integer>254</integer>
				<key>x</key>
				<integer>1077</integer>
				<key>y</key>
				<integer>163</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>jujiw_5.png</key>
			<dict>
				<key>width</key>
				<integer>259</integer>
				<key>height</key>
				<integer>254</integer>
				<key>originalWidth</key>
				<integer>259</integer>
				<key>originalHeight</key>
				<integer>254</integer>
				<key>x</key>
				<integer>1338</integer>
				<key>y</key>
				<integer>163</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>jujiw_6.png</key>
			<dict>
				<key>width</key>
				<integer>259</integer>
				<key>height</key>
				<integer>254</integer>
				<key>originalWidth</key>
				<integer>259</integer>
				<key>originalHeight</key>
				<integer>254</integer>
				<key>x</key>
				<integer>1599</integer>
				<key>y</key>
				<integer>163</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>penhangqi_0.png</key>
			<dict>
				<key>width</key>
				<integer>200</integer>
				<key>height</key>
				<integer>150</integer>
				<key>originalWidth</key>
				<integer>200</integer>
				<key>originalHeight</key>
				<integer>150</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>419</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>penhangqi_1.png</key>
			<dict>
				<key>width</key>
				<integer>200</integer>
				<key>height</key>
				<integer>150</integer>
				<key>originalWidth</key>
				<integer>200</integer>
				<key>originalHeight</key>
				<integer>150</integer>
				<key>x</key>
				<integer>202</integer>
				<key>y</key>
				<integer>419</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>penhangqi_2.png</key>
			<dict>
				<key>width</key>
				<integer>200</integer>
				<key>height</key>
				<integer>150</integer>
				<key>originalWidth</key>
				<integer>200</integer>
				<key>originalHeight</key>
				<integer>150</integer>
				<key>x</key>
				<integer>404</integer>
				<key>y</key>
				<integer>419</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>penhangqi_3.png</key>
			<dict>
				<key>width</key>
				<integer>200</integer>
				<key>height</key>
				<integer>150</integer>
				<key>originalWidth</key>
				<integer>200</integer>
				<key>originalHeight</key>
				<integer>150</integer>
				<key>x</key>
				<integer>606</integer>
				<key>y</key>
				<integer>419</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>penhangqi_4.png</key>
			<dict>
				<key>width</key>
				<integer>200</integer>
				<key>height</key>
				<integer>150</integer>
				<key>originalWidth</key>
				<integer>200</integer>
				<key>originalHeight</key>
				<integer>150</integer>
				<key>x</key>
				<integer>808</integer>
				<key>y</key>
				<integer>419</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>penhangqi_5.png</key>
			<dict>
				<key>width</key>
				<integer>200</integer>
				<key>height</key>
				<integer>150</integer>
				<key>originalWidth</key>
				<integer>200</integer>
				<key>originalHeight</key>
				<integer>150</integer>
				<key>x</key>
				<integer>1010</integer>
				<key>y</key>
				<integer>419</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>penhangqi_6.png</key>
			<dict>
				<key>width</key>
				<integer>200</integer>
				<key>height</key>
				<integer>150</integer>
				<key>originalWidth</key>
				<integer>200</integer>
				<key>originalHeight</key>
				<integer>150</integer>
				<key>x</key>
				<integer>1212</integer>
				<key>y</key>
				<integer>419</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>penhangqi_7.png</key>
			<dict>
				<key>width</key>
				<integer>200</integer>
				<key>height</key>
				<integer>150</integer>
				<key>originalWidth</key>
				<integer>200</integer>
				<key>originalHeight</key>
				<integer>150</integer>
				<key>x</key>
				<integer>1414</integer>
				<key>y</key>
				<integer>419</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>penhangqi_9.png</key>
			<dict>
				<key>width</key>
				<integer>200</integer>
				<key>height</key>
				<integer>150</integer>
				<key>originalWidth</key>
				<integer>200</integer>
				<key>originalHeight</key>
				<integer>150</integer>
				<key>x</key>
				<integer>1616</integer>
				<key>y</key>
				<integer>419</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>touying.png</key>
			<dict>
				<key>width</key>
				<integer>101</integer>
				<key>height</key>
				<integer>32</integer>
				<key>originalWidth</key>
				<integer>101</integer>
				<key>originalHeight</key>
				<integer>32</integer>
				<key>x</key>
				<integer>1818</integer>
				<key>y</key>
				<integer>419</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>yuanquanguang_1.png</key>
			<dict>
				<key>width</key>
				<integer>269</integer>
				<key>height</key>
				<integer>266</integer>
				<key>originalWidth</key>
				<integer>269</integer>
				<key>originalHeight</key>
				<integer>266</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>571</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>上臂1 副本.png</key>
			<dict>
				<key>width</key>
				<integer>22</integer>
				<key>height</key>
				<integer>33</integer>
				<key>originalWidth</key>
				<integer>22</integer>
				<key>originalHeight</key>
				<integer>33</integer>
				<key>x</key>
				<integer>271</integer>
				<key>y</key>
				<integer>571</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>上臂1.png</key>
			<dict>
				<key>width</key>
				<integer>26</integer>
				<key>height</key>
				<integer>41</integer>
				<key>originalWidth</key>
				<integer>26</integer>
				<key>originalHeight</key>
				<integer>41</integer>
				<key>x</key>
				<integer>295</integer>
				<key>y</key>
				<integer>571</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>上颚2受击.png</key>
			<dict>
				<key>width</key>
				<integer>45</integer>
				<key>height</key>
				<integer>44</integer>
				<key>originalWidth</key>
				<integer>45</integer>
				<key>originalHeight</key>
				<integer>44</integer>
				<key>x</key>
				<integer>323</integer>
				<key>y</key>
				<integer>571</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>上颚2待机.png</key>
			<dict>
				<key>width</key>
				<integer>45</integer>
				<key>height</key>
				<integer>44</integer>
				<key>originalWidth</key>
				<integer>45</integer>
				<key>originalHeight</key>
				<integer>44</integer>
				<key>x</key>
				<integer>370</integer>
				<key>y</key>
				<integer>571</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>上颚2待机闭眼.png</key>
			<dict>
				<key>width</key>
				<integer>45</integer>
				<key>height</key>
				<integer>44</integer>
				<key>originalWidth</key>
				<integer>45</integer>
				<key>originalHeight</key>
				<integer>44</integer>
				<key>x</key>
				<integer>417</integer>
				<key>y</key>
				<integer>571</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>上颚2愤怒.png</key>
			<dict>
				<key>width</key>
				<integer>45</integer>
				<key>height</key>
				<integer>44</integer>
				<key>originalWidth</key>
				<integer>45</integer>
				<key>originalHeight</key>
				<integer>44</integer>
				<key>x</key>
				<integer>464</integer>
				<key>y</key>
				<integer>571</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>上颚受击.png</key>
			<dict>
				<key>width</key>
				<integer>51</integer>
				<key>height</key>
				<integer>51</integer>
				<key>originalWidth</key>
				<integer>51</integer>
				<key>originalHeight</key>
				<integer>51</integer>
				<key>x</key>
				<integer>511</integer>
				<key>y</key>
				<integer>571</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>上颚待机.png</key>
			<dict>
				<key>width</key>
				<integer>52</integer>
				<key>height</key>
				<integer>51</integer>
				<key>originalWidth</key>
				<integer>52</integer>
				<key>originalHeight</key>
				<integer>51</integer>
				<key>x</key>
				<integer>564</integer>
				<key>y</key>
				<integer>571</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>上颚待机闭眼.png</key>
			<dict>
				<key>width</key>
				<integer>51</integer>
				<key>height</key>
				<integer>51</integer>
				<key>originalWidth</key>
				<integer>51</integer>
				<key>originalHeight</key>
				<integer>51</integer>
				<key>x</key>
				<integer>618</integer>
				<key>y</key>
				<integer>571</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>上颚愤怒.png</key>
			<dict>
				<key>width</key>
				<integer>51</integer>
				<key>height</key>
				<integer>51</integer>
				<key>originalWidth</key>
				<integer>51</integer>
				<key>originalHeight</key>
				<integer>51</integer>
				<key>x</key>
				<integer>671</integer>
				<key>y</key>
				<integer>571</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>下颚1.png</key>
			<dict>
				<key>width</key>
				<integer>40</integer>
				<key>height</key>
				<integer>36</integer>
				<key>originalWidth</key>
				<integer>40</integer>
				<key>originalHeight</key>
				<integer>36</integer>
				<key>x</key>
				<integer>724</integer>
				<key>y</key>
				<integer>571</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>下颚2.png</key>
			<dict>
				<key>width</key>
				<integer>35</integer>
				<key>height</key>
				<integer>38</integer>
				<key>originalWidth</key>
				<integer>35</integer>
				<key>originalHeight</key>
				<integer>38</integer>
				<key>x</key>
				<integer>766</integer>
				<key>y</key>
				<integer>571</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>前爪1 副本.png</key>
			<dict>
				<key>width</key>
				<integer>21</integer>
				<key>height</key>
				<integer>11</integer>
				<key>originalWidth</key>
				<integer>21</integer>
				<key>originalHeight</key>
				<integer>11</integer>
				<key>x</key>
				<integer>803</integer>
				<key>y</key>
				<integer>571</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>前爪1.png</key>
			<dict>
				<key>width</key>
				<integer>21</integer>
				<key>height</key>
				<integer>11</integer>
				<key>originalWidth</key>
				<integer>21</integer>
				<key>originalHeight</key>
				<integer>11</integer>
				<key>x</key>
				<integer>826</integer>
				<key>y</key>
				<integer>571</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>前臂1  副本 2.png</key>
			<dict>
				<key>width</key>
				<integer>18</integer>
				<key>height</key>
				<integer>29</integer>
				<key>originalWidth</key>
				<integer>18</integer>
				<key>originalHeight</key>
				<integer>29</integer>
				<key>x</key>
				<integer>849</integer>
				<key>y</key>
				<integer>571</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>前臂1.png</key>
			<dict>
				<key>width</key>
				<integer>22</integer>
				<key>height</key>
				<integer>22</integer>
				<key>originalWidth</key>
				<integer>22</integer>
				<key>originalHeight</key>
				<integer>22</integer>
				<key>x</key>
				<integer>869</integer>
				<key>y</key>
				<integer>571</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>前臂2副本.png</key>
			<dict>
				<key>width</key>
				<integer>24</integer>
				<key>height</key>
				<integer>18</integer>
				<key>originalWidth</key>
				<integer>24</integer>
				<key>originalHeight</key>
				<integer>18</integer>
				<key>x</key>
				<integer>893</integer>
				<key>y</key>
				<integer>571</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>右前爪.png</key>
			<dict>
				<key>width</key>
				<integer>20</integer>
				<key>height</key>
				<integer>11</integer>
				<key>originalWidth</key>
				<integer>20</integer>
				<key>originalHeight</key>
				<integer>11</integer>
				<key>x</key>
				<integer>919</integer>
				<key>y</key>
				<integer>571</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>右前腿1.png</key>
			<dict>
				<key>width</key>
				<integer>26</integer>
				<key>height</key>
				<integer>24</integer>
				<key>originalWidth</key>
				<integer>26</integer>
				<key>originalHeight</key>
				<integer>24</integer>
				<key>x</key>
				<integer>941</integer>
				<key>y</key>
				<integer>571</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>右前腿2.png</key>
			<dict>
				<key>width</key>
				<integer>26</integer>
				<key>height</key>
				<integer>41</integer>
				<key>originalWidth</key>
				<integer>26</integer>
				<key>originalHeight</key>
				<integer>41</integer>
				<key>x</key>
				<integer>969</integer>
				<key>y</key>
				<integer>571</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>右前腿3.png</key>
			<dict>
				<key>width</key>
				<integer>22</integer>
				<key>height</key>
				<integer>22</integer>
				<key>originalWidth</key>
				<integer>22</integer>
				<key>originalHeight</key>
				<integer>22</integer>
				<key>x</key>
				<integer>997</integer>
				<key>y</key>
				<integer>571</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>右后爪.png</key>
			<dict>
				<key>width</key>
				<integer>20</integer>
				<key>height</key>
				<integer>11</integer>
				<key>originalWidth</key>
				<integer>20</integer>
				<key>originalHeight</key>
				<integer>11</integer>
				<key>x</key>
				<integer>1021</integer>
				<key>y</key>
				<integer>571</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>右后腿1.png</key>
			<dict>
				<key>width</key>
				<integer>26</integer>
				<key>height</key>
				<integer>41</integer>
				<key>originalWidth</key>
				<integer>26</integer>
				<key>originalHeight</key>
				<integer>41</integer>
				<key>x</key>
				<integer>1043</integer>
				<key>y</key>
				<integer>571</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>右后腿2.png</key>
			<dict>
				<key>width</key>
				<integer>18</integer>
				<key>height</key>
				<integer>28</integer>
				<key>originalWidth</key>
				<integer>18</integer>
				<key>originalHeight</key>
				<integer>28</integer>
				<key>x</key>
				<integer>1071</integer>
				<key>y</key>
				<integer>571</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>右后腿3.png</key>
			<dict>
				<key>width</key>
				<integer>24</integer>
				<key>height</key>
				<integer>18</integer>
				<key>originalWidth</key>
				<integer>24</integer>
				<key>originalHeight</key>
				<integer>18</integer>
				<key>x</key>
				<integer>1091</integer>
				<key>y</key>
				<integer>571</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>后脚爪 副本.png</key>
			<dict>
				<key>width</key>
				<integer>18</integer>
				<key>height</key>
				<integer>11</integer>
				<key>originalWidth</key>
				<integer>18</integer>
				<key>originalHeight</key>
				<integer>11</integer>
				<key>x</key>
				<integer>1117</integer>
				<key>y</key>
				<integer>571</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>后脚爪.png</key>
			<dict>
				<key>width</key>
				<integer>18</integer>
				<key>height</key>
				<integer>11</integer>
				<key>originalWidth</key>
				<integer>18</integer>
				<key>originalHeight</key>
				<integer>11</integer>
				<key>x</key>
				<integer>1137</integer>
				<key>y</key>
				<integer>571</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>大腿 副本.png</key>
			<dict>
				<key>width</key>
				<integer>22</integer>
				<key>height</key>
				<integer>30</integer>
				<key>originalWidth</key>
				<integer>22</integer>
				<key>originalHeight</key>
				<integer>30</integer>
				<key>x</key>
				<integer>1157</integer>
				<key>y</key>
				<integer>571</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>大腿.png</key>
			<dict>
				<key>width</key>
				<integer>22</integer>
				<key>height</key>
				<integer>30</integer>
				<key>originalWidth</key>
				<integer>22</integer>
				<key>originalHeight</key>
				<integer>30</integer>
				<key>x</key>
				<integer>1181</integer>
				<key>y</key>
				<integer>571</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>尾巴.png</key>
			<dict>
				<key>width</key>
				<integer>25</integer>
				<key>height</key>
				<integer>27</integer>
				<key>originalWidth</key>
				<integer>25</integer>
				<key>originalHeight</key>
				<integer>27</integer>
				<key>x</key>
				<integer>1205</integer>
				<key>y</key>
				<integer>571</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>左前爪.png</key>
			<dict>
				<key>width</key>
				<integer>18</integer>
				<key>height</key>
				<integer>11</integer>
				<key>originalWidth</key>
				<integer>18</integer>
				<key>originalHeight</key>
				<integer>11</integer>
				<key>x</key>
				<integer>1232</integer>
				<key>y</key>
				<integer>571</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>左前腿1.png</key>
			<dict>
				<key>width</key>
				<integer>21</integer>
				<key>height</key>
				<integer>29</integer>
				<key>originalWidth</key>
				<integer>21</integer>
				<key>originalHeight</key>
				<integer>29</integer>
				<key>x</key>
				<integer>1252</integer>
				<key>y</key>
				<integer>571</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>左前腿2.png</key>
			<dict>
				<key>width</key>
				<integer>15</integer>
				<key>height</key>
				<integer>15</integer>
				<key>originalWidth</key>
				<integer>15</integer>
				<key>originalHeight</key>
				<integer>15</integer>
				<key>x</key>
				<integer>1275</integer>
				<key>y</key>
				<integer>571</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>左前腿3.png</key>
			<dict>
				<key>width</key>
				<integer>14</integer>
				<key>height</key>
				<integer>23</integer>
				<key>originalWidth</key>
				<integer>14</integer>
				<key>originalHeight</key>
				<integer>23</integer>
				<key>x</key>
				<integer>1292</integer>
				<key>y</key>
				<integer>571</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>左后爪.png</key>
			<dict>
				<key>width</key>
				<integer>18</integer>
				<key>height</key>
				<integer>10</integer>
				<key>originalWidth</key>
				<integer>18</integer>
				<key>originalHeight</key>
				<integer>10</integer>
				<key>x</key>
				<integer>1308</integer>
				<key>y</key>
				<integer>571</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>左后腿1.png</key>
			<dict>
				<key>width</key>
				<integer>22</integer>
				<key>height</key>
				<integer>30</integer>
				<key>originalWidth</key>
				<integer>22</integer>
				<key>originalHeight</key>
				<integer>30</integer>
				<key>x</key>
				<integer>1328</integer>
				<key>y</key>
				<integer>571</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>左后腿2.png</key>
			<dict>
				<key>width</key>
				<integer>15</integer>
				<key>height</key>
				<integer>14</integer>
				<key>originalWidth</key>
				<integer>15</integer>
				<key>originalHeight</key>
				<integer>14</integer>
				<key>x</key>
				<integer>1352</integer>
				<key>y</key>
				<integer>571</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>左后腿3.png</key>
			<dict>
				<key>width</key>
				<integer>14</integer>
				<key>height</key>
				<integer>23</integer>
				<key>originalWidth</key>
				<integer>14</integer>
				<key>originalHeight</key>
				<integer>23</integer>
				<key>x</key>
				<integer>1369</integer>
				<key>y</key>
				<integer>571</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>肩膀1.png</key>
			<dict>
				<key>width</key>
				<integer>26</integer>
				<key>height</key>
				<integer>24</integer>
				<key>originalWidth</key>
				<integer>26</integer>
				<key>originalHeight</key>
				<integer>24</integer>
				<key>x</key>
				<integer>1385</integer>
				<key>y</key>
				<integer>571</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>胸.png</key>
			<dict>
				<key>width</key>
				<integer>70</integer>
				<key>height</key>
				<integer>76</integer>
				<key>originalWidth</key>
				<integer>70</integer>
				<key>originalHeight</key>
				<integer>76</integer>
				<key>x</key>
				<integer>1413</integer>
				<key>y</key>
				<integer>571</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>脖子1.png</key>
			<dict>
				<key>width</key>
				<integer>32</integer>
				<key>height</key>
				<integer>48</integer>
				<key>originalWidth</key>
				<integer>32</integer>
				<key>originalHeight</key>
				<integer>48</integer>
				<key>x</key>
				<integer>1485</integer>
				<key>y</key>
				<integer>571</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>脖子2.png</key>
			<dict>
				<key>width</key>
				<integer>23</integer>
				<key>height</key>
				<integer>42</integer>
				<key>originalWidth</key>
				<integer>23</integer>
				<key>originalHeight</key>
				<integer>42</integer>
				<key>x</key>
				<integer>1519</integer>
				<key>y</key>
				<integer>571</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>脚跟 副本.png</key>
			<dict>
				<key>width</key>
				<integer>14</integer>
				<key>height</key>
				<integer>22</integer>
				<key>originalWidth</key>
				<integer>14</integer>
				<key>originalHeight</key>
				<integer>22</integer>
				<key>x</key>
				<integer>1544</integer>
				<key>y</key>
				<integer>571</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>脚跟.png</key>
			<dict>
				<key>width</key>
				<integer>14</integer>
				<key>height</key>
				<integer>23</integer>
				<key>originalWidth</key>
				<integer>14</integer>
				<key>originalHeight</key>
				<integer>23</integer>
				<key>x</key>
				<integer>1560</integer>
				<key>y</key>
				<integer>571</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>腹部.png</key>
			<dict>
				<key>width</key>
				<integer>48</integer>
				<key>height</key>
				<integer>51</integer>
				<key>originalWidth</key>
				<integer>48</integer>
				<key>originalHeight</key>
				<integer>51</integer>
				<key>x</key>
				<integer>1576</integer>
				<key>y</key>
				<integer>571</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>腿 副本.png</key>
			<dict>
				<key>width</key>
				<integer>15</integer>
				<key>height</key>
				<integer>14</integer>
				<key>originalWidth</key>
				<integer>15</integer>
				<key>originalHeight</key>
				<integer>14</integer>
				<key>x</key>
				<integer>1626</integer>
				<key>y</key>
				<integer>571</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>腿.png</key>
			<dict>
				<key>width</key>
				<integer>15</integer>
				<key>height</key>
				<integer>15</integer>
				<key>originalWidth</key>
				<integer>15</integer>
				<key>originalHeight</key>
				<integer>15</integer>
				<key>x</key>
				<integer>1643</integer>
				<key>y</key>
				<integer>571</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>舌头.png</key>
			<dict>
				<key>width</key>
				<integer>14</integer>
				<key>height</key>
				<integer>14</integer>
				<key>originalWidth</key>
				<integer>14</integer>
				<key>originalHeight</key>
				<integer>14</integer>
				<key>x</key>
				<integer>1660</integer>
				<key>y</key>
				<integer>571</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>冰/bingfengwangzuo_1.png</key>
			<dict>
				<key>width</key>
				<integer>160</integer>
				<key>height</key>
				<integer>99</integer>
				<key>originalWidth</key>
				<integer>160</integer>
				<key>originalHeight</key>
				<integer>99</integer>
				<key>x</key>
				<integer>1676</integer>
				<key>y</key>
				<integer>571</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>冰/bingfengwangzuo_10.png</key>
			<dict>
				<key>width</key>
				<integer>160</integer>
				<key>height</key>
				<integer>99</integer>
				<key>originalWidth</key>
				<integer>160</integer>
				<key>originalHeight</key>
				<integer>99</integer>
				<key>x</key>
				<integer>1838</integer>
				<key>y</key>
				<integer>571</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>冰/bingfengwangzuo_11.png</key>
			<dict>
				<key>width</key>
				<integer>160</integer>
				<key>height</key>
				<integer>99</integer>
				<key>originalWidth</key>
				<integer>160</integer>
				<key>originalHeight</key>
				<integer>99</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>839</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>冰/bingfengwangzuo_2.png</key>
			<dict>
				<key>width</key>
				<integer>160</integer>
				<key>height</key>
				<integer>99</integer>
				<key>originalWidth</key>
				<integer>160</integer>
				<key>originalHeight</key>
				<integer>99</integer>
				<key>x</key>
				<integer>162</integer>
				<key>y</key>
				<integer>839</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>冰/bingfengwangzuo_3.png</key>
			<dict>
				<key>width</key>
				<integer>160</integer>
				<key>height</key>
				<integer>99</integer>
				<key>originalWidth</key>
				<integer>160</integer>
				<key>originalHeight</key>
				<integer>99</integer>
				<key>x</key>
				<integer>324</integer>
				<key>y</key>
				<integer>839</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>冰/bingfengwangzuo_4.png</key>
			<dict>
				<key>width</key>
				<integer>160</integer>
				<key>height</key>
				<integer>99</integer>
				<key>originalWidth</key>
				<integer>160</integer>
				<key>originalHeight</key>
				<integer>99</integer>
				<key>x</key>
				<integer>486</integer>
				<key>y</key>
				<integer>839</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>冰/bingfengwangzuo_5.png</key>
			<dict>
				<key>width</key>
				<integer>160</integer>
				<key>height</key>
				<integer>99</integer>
				<key>originalWidth</key>
				<integer>160</integer>
				<key>originalHeight</key>
				<integer>99</integer>
				<key>x</key>
				<integer>648</integer>
				<key>y</key>
				<integer>839</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>冰/bingfengwangzuo_6.png</key>
			<dict>
				<key>width</key>
				<integer>160</integer>
				<key>height</key>
				<integer>99</integer>
				<key>originalWidth</key>
				<integer>160</integer>
				<key>originalHeight</key>
				<integer>99</integer>
				<key>x</key>
				<integer>810</integer>
				<key>y</key>
				<integer>839</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>冰/bingfengwangzuo_7.png</key>
			<dict>
				<key>width</key>
				<integer>160</integer>
				<key>height</key>
				<integer>99</integer>
				<key>originalWidth</key>
				<integer>160</integer>
				<key>originalHeight</key>
				<integer>99</integer>
				<key>x</key>
				<integer>972</integer>
				<key>y</key>
				<integer>839</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>冰/bingfengwangzuo_8.png</key>
			<dict>
				<key>width</key>
				<integer>160</integer>
				<key>height</key>
				<integer>99</integer>
				<key>originalWidth</key>
				<integer>160</integer>
				<key>originalHeight</key>
				<integer>99</integer>
				<key>x</key>
				<integer>1134</integer>
				<key>y</key>
				<integer>839</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>冰/bingfengwangzuo_9.png</key>
			<dict>
				<key>width</key>
				<integer>160</integer>
				<key>height</key>
				<integer>99</integer>
				<key>originalWidth</key>
				<integer>160</integer>
				<key>originalHeight</key>
				<integer>99</integer>
				<key>x</key>
				<integer>1296</integer>
				<key>y</key>
				<integer>839</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>子弹/huoqiu1.png</key>
			<dict>
				<key>width</key>
				<integer>132</integer>
				<key>height</key>
				<integer>65</integer>
				<key>originalWidth</key>
				<integer>132</integer>
				<key>originalHeight</key>
				<integer>65</integer>
				<key>x</key>
				<integer>1458</integer>
				<key>y</key>
				<integer>839</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>子弹/huoqiu2.png</key>
			<dict>
				<key>width</key>
				<integer>132</integer>
				<key>height</key>
				<integer>65</integer>
				<key>originalWidth</key>
				<integer>132</integer>
				<key>originalHeight</key>
				<integer>65</integer>
				<key>x</key>
				<integer>1592</integer>
				<key>y</key>
				<integer>839</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>子弹/huoqiu3.png</key>
			<dict>
				<key>width</key>
				<integer>132</integer>
				<key>height</key>
				<integer>65</integer>
				<key>originalWidth</key>
				<integer>132</integer>
				<key>originalHeight</key>
				<integer>65</integer>
				<key>x</key>
				<integer>1726</integer>
				<key>y</key>
				<integer>839</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>子弹/huoqiu4.png</key>
			<dict>
				<key>width</key>
				<integer>132</integer>
				<key>height</key>
				<integer>65</integer>
				<key>originalWidth</key>
				<integer>132</integer>
				<key>originalHeight</key>
				<integer>65</integer>
				<key>x</key>
				<integer>1860</integer>
				<key>y</key>
				<integer>839</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>子弹/zidan_2.png</key>
			<dict>
				<key>width</key>
				<integer>190</integer>
				<key>height</key>
				<integer>98</integer>
				<key>originalWidth</key>
				<integer>190</integer>
				<key>originalHeight</key>
				<integer>98</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>940</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>子弹/zidan_3.png</key>
			<dict>
				<key>width</key>
				<integer>190</integer>
				<key>height</key>
				<integer>98</integer>
				<key>originalWidth</key>
				<integer>190</integer>
				<key>originalHeight</key>
				<integer>98</integer>
				<key>x</key>
				<integer>192</integer>
				<key>y</key>
				<integer>940</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>子弹/zidan_4.png</key>
			<dict>
				<key>width</key>
				<integer>190</integer>
				<key>height</key>
				<integer>98</integer>
				<key>originalWidth</key>
				<integer>190</integer>
				<key>originalHeight</key>
				<integer>98</integer>
				<key>x</key>
				<integer>384</integer>
				<key>y</key>
				<integer>940</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>子弹/zidan_5.png</key>
			<dict>
				<key>width</key>
				<integer>190</integer>
				<key>height</key>
				<integer>98</integer>
				<key>originalWidth</key>
				<integer>190</integer>
				<key>originalHeight</key>
				<integer>98</integer>
				<key>x</key>
				<integer>576</integer>
				<key>y</key>
				<integer>940</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>底/guang_0.png</key>
			<dict>
				<key>width</key>
				<integer>155</integer>
				<key>height</key>
				<integer>133</integer>
				<key>originalWidth</key>
				<integer>155</integer>
				<key>originalHeight</key>
				<integer>133</integer>
				<key>x</key>
				<integer>768</integer>
				<key>y</key>
				<integer>940</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>火/huoyanbage_0.png</key>
			<dict>
				<key>width</key>
				<integer>174</integer>
				<key>height</key>
				<integer>137</integer>
				<key>originalWidth</key>
				<integer>174</integer>
				<key>originalHeight</key>
				<integer>137</integer>
				<key>x</key>
				<integer>925</integer>
				<key>y</key>
				<integer>940</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>火/huoyanbage_1.png</key>
			<dict>
				<key>width</key>
				<integer>174</integer>
				<key>height</key>
				<integer>137</integer>
				<key>originalWidth</key>
				<integer>174</integer>
				<key>originalHeight</key>
				<integer>137</integer>
				<key>x</key>
				<integer>1101</integer>
				<key>y</key>
				<integer>940</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>火/huoyanbage_10.png</key>
			<dict>
				<key>width</key>
				<integer>174</integer>
				<key>height</key>
				<integer>137</integer>
				<key>originalWidth</key>
				<integer>174</integer>
				<key>originalHeight</key>
				<integer>137</integer>
				<key>x</key>
				<integer>1277</integer>
				<key>y</key>
				<integer>940</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>火/huoyanbage_11.png</key>
			<dict>
				<key>width</key>
				<integer>174</integer>
				<key>height</key>
				<integer>137</integer>
				<key>originalWidth</key>
				<integer>174</integer>
				<key>originalHeight</key>
				<integer>137</integer>
				<key>x</key>
				<integer>1453</integer>
				<key>y</key>
				<integer>940</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>火/huoyanbage_2.png</key>
			<dict>
				<key>width</key>
				<integer>174</integer>
				<key>height</key>
				<integer>137</integer>
				<key>originalWidth</key>
				<integer>174</integer>
				<key>originalHeight</key>
				<integer>137</integer>
				<key>x</key>
				<integer>1629</integer>
				<key>y</key>
				<integer>940</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>火/huoyanbage_3.png</key>
			<dict>
				<key>width</key>
				<integer>174</integer>
				<key>height</key>
				<integer>137</integer>
				<key>originalWidth</key>
				<integer>174</integer>
				<key>originalHeight</key>
				<integer>137</integer>
				<key>x</key>
				<integer>1805</integer>
				<key>y</key>
				<integer>940</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>火/huoyanbage_4.png</key>
			<dict>
				<key>width</key>
				<integer>174</integer>
				<key>height</key>
				<integer>137</integer>
				<key>originalWidth</key>
				<integer>174</integer>
				<key>originalHeight</key>
				<integer>137</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>1079</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>火/huoyanbage_5.png</key>
			<dict>
				<key>width</key>
				<integer>174</integer>
				<key>height</key>
				<integer>137</integer>
				<key>originalWidth</key>
				<integer>174</integer>
				<key>originalHeight</key>
				<integer>137</integer>
				<key>x</key>
				<integer>176</integer>
				<key>y</key>
				<integer>1079</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>火/huoyanbage_6.png</key>
			<dict>
				<key>width</key>
				<integer>174</integer>
				<key>height</key>
				<integer>137</integer>
				<key>originalWidth</key>
				<integer>174</integer>
				<key>originalHeight</key>
				<integer>137</integer>
				<key>x</key>
				<integer>352</integer>
				<key>y</key>
				<integer>1079</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>火/huoyanbage_7.png</key>
			<dict>
				<key>width</key>
				<integer>174</integer>
				<key>height</key>
				<integer>137</integer>
				<key>originalWidth</key>
				<integer>174</integer>
				<key>originalHeight</key>
				<integer>137</integer>
				<key>x</key>
				<integer>528</integer>
				<key>y</key>
				<integer>1079</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>火/huoyanbage_8.png</key>
			<dict>
				<key>width</key>
				<integer>174</integer>
				<key>height</key>
				<integer>137</integer>
				<key>originalWidth</key>
				<integer>174</integer>
				<key>originalHeight</key>
				<integer>137</integer>
				<key>x</key>
				<integer>704</integer>
				<key>y</key>
				<integer>1079</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>火/huoyanbage_9.png</key>
			<dict>
				<key>width</key>
				<integer>174</integer>
				<key>height</key>
				<integer>137</integer>
				<key>originalWidth</key>
				<integer>174</integer>
				<key>originalHeight</key>
				<integer>137</integer>
				<key>x</key>
				<integer>880</integer>
				<key>y</key>
				<integer>1079</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>0</integer>
			<key>textureFileName</key>
			<string>KeLuoMaGuSi0.png</string>
			<key>realTextureFileName</key>
			<string>KeLuoMaGuSi0.png</string>
			<key>size</key>
			<string>{2048,2048}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2048</integer>
			<key>height</key>
			<integer>2048</integer>
		</dict>
	</dict>
</plist>