<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>zhumu_14.png</key>
			<dict>
				<key>width</key>
				<integer>385</integer>
				<key>height</key>
				<integer>368</integer>
				<key>originalWidth</key>
				<integer>385</integer>
				<key>originalHeight</key>
				<integer>368</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>zhumu_15.png</key>
			<dict>
				<key>width</key>
				<integer>385</integer>
				<key>height</key>
				<integer>368</integer>
				<key>originalWidth</key>
				<integer>385</integer>
				<key>originalHeight</key>
				<integer>368</integer>
				<key>x</key>
				<integer>387</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>zhumu_16.png</key>
			<dict>
				<key>width</key>
				<integer>385</integer>
				<key>height</key>
				<integer>368</integer>
				<key>originalWidth</key>
				<integer>385</integer>
				<key>originalHeight</key>
				<integer>368</integer>
				<key>x</key>
				<integer>774</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>zhumu_17.png</key>
			<dict>
				<key>width</key>
				<integer>385</integer>
				<key>height</key>
				<integer>368</integer>
				<key>originalWidth</key>
				<integer>385</integer>
				<key>originalHeight</key>
				<integer>368</integer>
				<key>x</key>
				<integer>1161</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>zhumu_18.png</key>
			<dict>
				<key>width</key>
				<integer>385</integer>
				<key>height</key>
				<integer>368</integer>
				<key>originalWidth</key>
				<integer>385</integer>
				<key>originalHeight</key>
				<integer>368</integer>
				<key>x</key>
				<integer>1548</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>zhumu_19.png</key>
			<dict>
				<key>width</key>
				<integer>385</integer>
				<key>height</key>
				<integer>368</integer>
				<key>originalWidth</key>
				<integer>385</integer>
				<key>originalHeight</key>
				<integer>368</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>370</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>zhumu_2.png</key>
			<dict>
				<key>width</key>
				<integer>385</integer>
				<key>height</key>
				<integer>368</integer>
				<key>originalWidth</key>
				<integer>385</integer>
				<key>originalHeight</key>
				<integer>368</integer>
				<key>x</key>
				<integer>387</integer>
				<key>y</key>
				<integer>370</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>zhumu_20.png</key>
			<dict>
				<key>width</key>
				<integer>385</integer>
				<key>height</key>
				<integer>368</integer>
				<key>originalWidth</key>
				<integer>385</integer>
				<key>originalHeight</key>
				<integer>368</integer>
				<key>x</key>
				<integer>774</integer>
				<key>y</key>
				<integer>370</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>zhumu_3.png</key>
			<dict>
				<key>width</key>
				<integer>385</integer>
				<key>height</key>
				<integer>368</integer>
				<key>originalWidth</key>
				<integer>385</integer>
				<key>originalHeight</key>
				<integer>368</integer>
				<key>x</key>
				<integer>1161</integer>
				<key>y</key>
				<integer>370</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>zhumu_4.png</key>
			<dict>
				<key>width</key>
				<integer>385</integer>
				<key>height</key>
				<integer>368</integer>
				<key>originalWidth</key>
				<integer>385</integer>
				<key>originalHeight</key>
				<integer>368</integer>
				<key>x</key>
				<integer>1548</integer>
				<key>y</key>
				<integer>370</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>zhumu_5.png</key>
			<dict>
				<key>width</key>
				<integer>385</integer>
				<key>height</key>
				<integer>368</integer>
				<key>originalWidth</key>
				<integer>385</integer>
				<key>originalHeight</key>
				<integer>368</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>740</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>zhumu_6.png</key>
			<dict>
				<key>width</key>
				<integer>385</integer>
				<key>height</key>
				<integer>368</integer>
				<key>originalWidth</key>
				<integer>385</integer>
				<key>originalHeight</key>
				<integer>368</integer>
				<key>x</key>
				<integer>387</integer>
				<key>y</key>
				<integer>740</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>zhumu_7.png</key>
			<dict>
				<key>width</key>
				<integer>385</integer>
				<key>height</key>
				<integer>368</integer>
				<key>originalWidth</key>
				<integer>385</integer>
				<key>originalHeight</key>
				<integer>368</integer>
				<key>x</key>
				<integer>774</integer>
				<key>y</key>
				<integer>740</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>zhumu_8.png</key>
			<dict>
				<key>width</key>
				<integer>385</integer>
				<key>height</key>
				<integer>368</integer>
				<key>originalWidth</key>
				<integer>385</integer>
				<key>originalHeight</key>
				<integer>368</integer>
				<key>x</key>
				<integer>1161</integer>
				<key>y</key>
				<integer>740</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>zhumu_9.png</key>
			<dict>
				<key>width</key>
				<integer>385</integer>
				<key>height</key>
				<integer>368</integer>
				<key>originalWidth</key>
				<integer>385</integer>
				<key>originalHeight</key>
				<integer>368</integer>
				<key>x</key>
				<integer>1548</integer>
				<key>y</key>
				<integer>740</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>新建文件夹/jiguang1.png</key>
			<dict>
				<key>width</key>
				<integer>186</integer>
				<key>height</key>
				<integer>463</integer>
				<key>originalWidth</key>
				<integer>186</integer>
				<key>originalHeight</key>
				<integer>463</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>1110</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>新建文件夹/jiguang2.png</key>
			<dict>
				<key>width</key>
				<integer>186</integer>
				<key>height</key>
				<integer>463</integer>
				<key>originalWidth</key>
				<integer>186</integer>
				<key>originalHeight</key>
				<integer>463</integer>
				<key>x</key>
				<integer>188</integer>
				<key>y</key>
				<integer>1110</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>新建文件夹/jiguang3.png</key>
			<dict>
				<key>width</key>
				<integer>186</integer>
				<key>height</key>
				<integer>463</integer>
				<key>originalWidth</key>
				<integer>186</integer>
				<key>originalHeight</key>
				<integer>463</integer>
				<key>x</key>
				<integer>376</integer>
				<key>y</key>
				<integer>1110</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>新建文件夹/jiguang4.png</key>
			<dict>
				<key>width</key>
				<integer>186</integer>
				<key>height</key>
				<integer>463</integer>
				<key>originalWidth</key>
				<integer>186</integer>
				<key>originalHeight</key>
				<integer>463</integer>
				<key>x</key>
				<integer>564</integer>
				<key>y</key>
				<integer>1110</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>新建文件夹/jiguang5.png</key>
			<dict>
				<key>width</key>
				<integer>186</integer>
				<key>height</key>
				<integer>463</integer>
				<key>originalWidth</key>
				<integer>186</integer>
				<key>originalHeight</key>
				<integer>463</integer>
				<key>x</key>
				<integer>752</integer>
				<key>y</key>
				<integer>1110</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>新建文件夹/jiguang6.png</key>
			<dict>
				<key>width</key>
				<integer>186</integer>
				<key>height</key>
				<integer>463</integer>
				<key>originalWidth</key>
				<integer>186</integer>
				<key>originalHeight</key>
				<integer>463</integer>
				<key>x</key>
				<integer>940</integer>
				<key>y</key>
				<integer>1110</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>0</integer>
			<key>textureFileName</key>
			<string>ShahelasiZhuMu1.png</string>
			<key>realTextureFileName</key>
			<string>ShahelasiZhuMu1.png</string>
			<key>size</key>
			<string>{2048,2048}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2048</integer>
			<key>height</key>
			<integer>2048</integer>
		</dict>
	</dict>
</plist>