<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>xuanyun_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,49},{110,57}}</string>
                <key>offset</key>
                <string>{-5,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{110,57}}</string>
                <key>sourceSize</key>
                <string>{120,67}</string>
            </dict>
            <key>xuanyun_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,110},{106,55}}</string>
                <key>offset</key>
                <string>{-4,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,4},{106,55}}</string>
                <key>sourceSize</key>
                <string>{120,67}</string>
            </dict>
            <key>xuanyun_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,108},{110,45}}</string>
                <key>offset</key>
                <string>{3,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,14},{110,45}}</string>
                <key>sourceSize</key>
                <string>{120,67}</string>
            </dict>
            <key>xuanyun_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{114,45}}</string>
                <key>offset</key>
                <string>{3,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,14},{114,45}}</string>
                <key>sourceSize</key>
                <string>{120,67}</string>
            </dict>
            <key>xuanyun_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,185},{108,51}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,9},{108,51}}</string>
                <key>sourceSize</key>
                <string>{120,67}</string>
            </dict>
            <key>xuanyun_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,2},{110,53}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,6},{110,53}}</string>
                <key>sourceSize</key>
                <string>{120,67}</string>
            </dict>
            <key>xuanyun_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,126},{108,57}}</string>
                <key>offset</key>
                <string>{-3,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{108,57}}</string>
                <key>sourceSize</key>
                <string>{120,67}</string>
            </dict>
            <key>xuanyun_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,110},{108,57}}</string>
                <key>offset</key>
                <string>{-2,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,1},{108,57}}</string>
                <key>sourceSize</key>
                <string>{120,67}</string>
            </dict>
            <key>xuanyun_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,210},{106,59}}</string>
                <key>offset</key>
                <string>{-1,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{106,59}}</string>
                <key>sourceSize</key>
                <string>{120,67}</string>
            </dict>
            <key>xuanyun_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,2},{110,59}}</string>
                <key>offset</key>
                <string>{-2,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{110,59}}</string>
                <key>sourceSize</key>
                <string>{120,67}</string>
            </dict>
            <key>xuanyun_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,108},{108,61}}</string>
                <key>offset</key>
                <string>{-3,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{108,61}}</string>
                <key>sourceSize</key>
                <string>{120,67}</string>
            </dict>
            <key>xuanyun_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,63},{108,61}}</string>
                <key>offset</key>
                <string>{-6,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,61}}</string>
                <key>sourceSize</key>
                <string>{120,67}</string>
            </dict>
            <key>xuanyun_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,169},{108,53}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,6},{108,53}}</string>
                <key>sourceSize</key>
                <string>{120,67}</string>
            </dict>
            <key>xuanyun_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,155},{108,53}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,7},{108,53}}</string>
                <key>sourceSize</key>
                <string>{120,67}</string>
            </dict>
            <key>xuanyun_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,57},{110,51}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,9},{110,51}}</string>
                <key>sourceSize</key>
                <string>{120,67}</string>
            </dict>
            <key>xuanyun_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,171},{108,57}}</string>
                <key>offset</key>
                <string>{-1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,10},{108,57}}</string>
                <key>sourceSize</key>
                <string>{120,67}</string>
            </dict>
            <key>xuanyun_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,2},{106,55}}</string>
                <key>offset</key>
                <string>{-2,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,12},{106,55}}</string>
                <key>sourceSize</key>
                <string>{120,67}</string>
            </dict>
            <key>xuanyun_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,2},{110,53}}</string>
                <key>offset</key>
                <string>{-2,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,14},{110,53}}</string>
                <key>sourceSize</key>
                <string>{120,67}</string>
            </dict>
            <key>xuanyun_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,57},{110,49}}</string>
                <key>offset</key>
                <string>{-1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,14},{110,49}}</string>
                <key>sourceSize</key>
                <string>{120,67}</string>
            </dict>
            <key>xuanyun_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,230},{108,45}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,15},{108,45}}</string>
                <key>sourceSize</key>
                <string>{120,67}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>xuanyun.png</string>
            <key>size</key>
            <string>{511,277}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1c7bf683388fc14e8875fc5480fe2b28$</string>
            <key>textureFileName</key>
            <string>xuanyun.png</string>
        </dict>
    </dict>
</plist>
