<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>buxuelizi_0_Tyrande.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{75,154}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,4},{75,154}}</string>
                <key>sourceSize</key>
                <string>{87,158}</string>
            </dict>
            <key>buxuelizi_1_Tyrande.png</key>
            <dict>
                <key>frame</key>
                <string>{{79,2},{73,154}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,4},{73,154}}</string>
                <key>sourceSize</key>
                <string>{87,158}</string>
            </dict>
            <key>buxuelizi_2_Tyrande.png</key>
            <dict>
                <key>frame</key>
                <string>{{79,150},{71,154}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,4},{71,154}}</string>
                <key>sourceSize</key>
                <string>{87,158}</string>
            </dict>
            <key>buxuelizi_3_Tyrande.png</key>
            <dict>
                <key>frame</key>
                <string>{{79,77},{71,154}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,4},{71,154}}</string>
                <key>sourceSize</key>
                <string>{87,158}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>smallSkillAttack_Tyrande_buxuelizi.pvr.ccz</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:62c5b4cdb6b71e843adda80e32f47671$</string>
            <key>textureFileName</key>
            <string>smallSkillAttack_Tyrande_buxuelizi.pvr.ccz</string>
        </dict>
    </dict>
</plist>
