<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>buxue_0_Tyrande.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,126},{112,120}}</string>
                <key>offset</key>
                <string>{-7,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,20},{112,120}}</string>
                <key>sourceSize</key>
                <string>{138,160}</string>
            </dict>
            <key>buxue_1_Tyrande.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{112,122}}</string>
                <key>offset</key>
                <string>{-7,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,5},{112,122}}</string>
                <key>sourceSize</key>
                <string>{138,160}</string>
            </dict>
            <key>buxue_2_Tyrande.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,98},{106,90}}</string>
                <key>offset</key>
                <string>{-9,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,48},{106,90}}</string>
                <key>sourceSize</key>
                <string>{138,160}</string>
            </dict>
            <key>buxue_3_Tyrande.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,2},{112,94}}</string>
                <key>offset</key>
                <string>{-7,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,35},{112,94}}</string>
                <key>sourceSize</key>
                <string>{138,160}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>smallSkillAttack_Tyrande_buxue.pvr.ccz</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6ffb7c85c90cf10ec1befbb69d1d4592$</string>
            <key>textureFileName</key>
            <string>smallSkillAttack_Tyrande_buxue.pvr.ccz</string>
        </dict>
    </dict>
</plist>
