<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>di0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,2},{84,34}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{66,27},{84,34}}</string>
                <key>sourceSize</key>
                <string>{220,90}</string>
            </dict>
            <key>di0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,244},{96,38}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,25},{96,38}}</string>
                <key>sourceSize</key>
                <string>{220,90}</string>
            </dict>
            <key>di0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,284},{110,44}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,22},{110,44}}</string>
                <key>sourceSize</key>
                <string>{220,90}</string>
            </dict>
            <key>di0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,454},{124,50}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,19},{124,50}}</string>
                <key>sourceSize</key>
                <string>{220,90}</string>
            </dict>
            <key>di0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,316},{136,56}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{40,15},{136,56}}</string>
                <key>sourceSize</key>
                <string>{220,90}</string>
            </dict>
            <key>di0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,250},{156,64}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,11},{156,64}}</string>
                <key>sourceSize</key>
                <string>{220,90}</string>
            </dict>
            <key>di0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,330},{178,72}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,7},{178,72}}</string>
                <key>sourceSize</key>
                <string>{220,90}</string>
            </dict>
            <key>di0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,284},{182,72}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,8},{182,72}}</string>
                <key>sourceSize</key>
                <string>{220,90}</string>
            </dict>
            <key>di0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,284},{186,74}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,7},{186,74}}</string>
                <key>sourceSize</key>
                <string>{220,90}</string>
            </dict>
            <key>di0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,284},{190,76}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,6},{190,76}}</string>
                <key>sourceSize</key>
                <string>{220,90}</string>
            </dict>
            <key>di0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,170},{194,78}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,5},{194,78}}</string>
                <key>sourceSize</key>
                <string>{220,90}</string>
            </dict>
            <key>di0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,88},{200,80}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,4},{200,80}}</string>
                <key>sourceSize</key>
                <string>{220,90}</string>
            </dict>
            <key>di0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,38},{204,82}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,2},{204,82}}</string>
                <key>sourceSize</key>
                <string>{220,90}</string>
            </dict>
            <key>di0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,2},{208,82}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,3},{208,82}}</string>
                <key>sourceSize</key>
                <string>{220,90}</string>
            </dict>
            <key>di0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,86},{204,80}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,4},{204,80}}</string>
                <key>sourceSize</key>
                <string>{220,90}</string>
            </dict>
            <key>di0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,168},{198,80}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,3},{198,80}}</string>
                <key>sourceSize</key>
                <string>{220,90}</string>
            </dict>
            <key>di0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{210,84}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,3},{210,84}}</string>
                <key>sourceSize</key>
                <string>{220,90}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>herojjdi.pvr.ccz</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e11ee497894b683e6781dae092b20ebd$</string>
            <key>textureFileName</key>
            <string>herojjdi.pvr.ccz</string>
        </dict>
    </dict>
</plist>
