<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dicidici_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,28},{18,28}}</string>
                <key>offset</key>
                <string>{-1,-25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,61},{18,28}}</string>
                <key>sourceSize</key>
                <string>{44,100}</string>
            </dict>
            <key>dicidici_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,2},{24,58}}</string>
                <key>offset</key>
                <string>{-1,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,31},{24,58}}</string>
                <key>sourceSize</key>
                <string>{44,100}</string>
            </dict>
            <key>dicidici_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{28,82}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,6},{28,82}}</string>
                <key>sourceSize</key>
                <string>{44,100}</string>
            </dict>
            <key>dicidici_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,86},{28,80}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,9},{28,80}}</string>
                <key>sourceSize</key>
                <string>{44,100}</string>
            </dict>
            <key>dicidici_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{32,2},{28,76}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,13},{28,76}}</string>
                <key>sourceSize</key>
                <string>{44,100}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>bigSkillAttack_DiXueLingZhu_Ci.pvr.ccz</string>
            <key>size</key>
            <string>{128,128}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f22ed09cf63b05e1b317d7ae3b8ef026$</string>
            <key>textureFileName</key>
            <string>bigSkillAttack_DiXueLingZhu_Ci.pvr.ccz</string>
        </dict>
    </dict>
</plist>
