<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dashou_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{852,908},{174,151}}</string>
                <key>offset</key>
                <string>{-11,-67}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{162,182},{174,151}}</string>
                <key>sourceSize</key>
                <string>{520,381}</string>
            </dict>
            <key>dashou_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{263,1483},{218,239}}</string>
                <key>offset</key>
                <string>{-4,-28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{147,99},{218,239}}</string>
                <key>sourceSize</key>
                <string>{520,381}</string>
            </dict>
            <key>dashou_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,436},{500,293}}</string>
                <key>offset</key>
                <string>{-1,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,54},{500,293}}</string>
                <key>sourceSize</key>
                <string>{520,381}</string>
            </dict>
            <key>dashou_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{520,255}}</string>
                <key>offset</key>
                <string>{0,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,92},{520,255}}</string>
                <key>sourceSize</key>
                <string>{520,381}</string>
            </dict>
            <key>dashou_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{504,468},{480,259}}</string>
                <key>offset</key>
                <string>{2,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,91},{480,259}}</string>
                <key>sourceSize</key>
                <string>{520,381}</string>
            </dict>
            <key>dashou_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{504,729},{480,177}}</string>
                <key>offset</key>
                <string>{2,-72}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,174},{480,177}}</string>
                <key>sourceSize</key>
                <string>{520,381}</string>
            </dict>
            <key>dashou_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{524,2},{488,175}}</string>
                <key>offset</key>
                <string>{1,-73}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,176},{488,175}}</string>
                <key>sourceSize</key>
                <string>{520,381}</string>
            </dict>
            <key>dashou_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,259},{502,175}}</string>
                <key>offset</key>
                <string>{1,-73}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,176},{502,175}}</string>
                <key>sourceSize</key>
                <string>{520,381}</string>
            </dict>
            <key>dashou_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{805,1291},{194,245}}</string>
                <key>offset</key>
                <string>{-13,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{150,91},{194,245}}</string>
                <key>sourceSize</key>
                <string>{520,381}</string>
            </dict>
            <key>dashou_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{556,1291},{198,247}}</string>
                <key>offset</key>
                <string>{-11,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{150,86},{198,247}}</string>
                <key>sourceSize</key>
                <string>{520,381}</string>
            </dict>
            <key>dashou_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1304},{200,259}}</string>
                <key>offset</key>
                <string>{-11,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{149,74},{200,259}}</string>
                <key>sourceSize</key>
                <string>{520,381}</string>
            </dict>
            <key>dashou_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{285,1291},{190,269}}</string>
                <key>offset</key>
                <string>{-15,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{150,64},{190,269}}</string>
                <key>sourceSize</key>
                <string>{520,381}</string>
            </dict>
            <key>dashou_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1114},{188,281}}</string>
                <key>offset</key>
                <string>{-11,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{155,60},{188,281}}</string>
                <key>sourceSize</key>
                <string>{520,381}</string>
            </dict>
            <key>dashou_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{462,908},{388,381}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,0},{388,381}}</string>
                <key>sourceSize</key>
                <string>{520,381}</string>
            </dict>
            <key>dashou_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,731},{458,381}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,0},{458,381}}</string>
                <key>sourceSize</key>
                <string>{520,381}</string>
            </dict>
            <key>dashou_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{524,179},{480,287}}</string>
                <key>offset</key>
                <string>{-1,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,59},{480,287}}</string>
                <key>sourceSize</key>
                <string>{520,381}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>bigSkillAttack_LaGeNaLuoSi.pvr.ccz</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5b645936ad45f20a249a7de087187734$</string>
            <key>textureFileName</key>
            <string>bigSkillAttack_LaGeNaLuoSi.pvr.ccz</string>
        </dict>
    </dict>
</plist>
