<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>huoqiu1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,180},{216,77}}</string>
                <key>offset</key>
                <string>{3,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,13},{216,77}}</string>
                <key>sourceSize</key>
                <string>{250,113}</string>
            </dict>
            <key>huoqiu10.png</key>
            <dict>
                <key>frame</key>
                <string>{{95,259},{190,91}}</string>
                <key>offset</key>
                <string>{14,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{44,12},{190,91}}</string>
                <key>sourceSize</key>
                <string>{250,113}</string>
            </dict>
            <key>huoqiu11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,259},{194,91}}</string>
                <key>offset</key>
                <string>{13,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{41,12},{194,91}}</string>
                <key>sourceSize</key>
                <string>{250,113}</string>
            </dict>
            <key>huoqiu12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,259},{194,91}}</string>
                <key>offset</key>
                <string>{13,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{41,12},{194,91}}</string>
                <key>sourceSize</key>
                <string>{250,113}</string>
            </dict>
            <key>huoqiu13.png</key>
            <dict>
                <key>frame</key>
                <string>{{277,186},{184,91}}</string>
                <key>offset</key>
                <string>{17,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,11},{184,91}}</string>
                <key>sourceSize</key>
                <string>{250,113}</string>
            </dict>
            <key>huoqiu14.png</key>
            <dict>
                <key>frame</key>
                <string>{{277,186},{184,91}}</string>
                <key>offset</key>
                <string>{17,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,11},{184,91}}</string>
                <key>sourceSize</key>
                <string>{250,113}</string>
            </dict>
            <key>huoqiu15.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,259},{188,87}}</string>
                <key>offset</key>
                <string>{17,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{48,12},{188,87}}</string>
                <key>sourceSize</key>
                <string>{250,113}</string>
            </dict>
            <key>huoqiu16.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,259},{188,87}}</string>
                <key>offset</key>
                <string>{17,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{48,12},{188,87}}</string>
                <key>sourceSize</key>
                <string>{250,113}</string>
            </dict>
            <key>huoqiu2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,180},{216,77}}</string>
                <key>offset</key>
                <string>{3,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,13},{216,77}}</string>
                <key>sourceSize</key>
                <string>{250,113}</string>
            </dict>
            <key>huoqiu3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{222,83}}</string>
                <key>offset</key>
                <string>{1,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,10},{222,83}}</string>
                <key>sourceSize</key>
                <string>{250,113}</string>
            </dict>
            <key>huoqiu4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{222,83}}</string>
                <key>offset</key>
                <string>{1,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,10},{222,83}}</string>
                <key>sourceSize</key>
                <string>{250,113}</string>
            </dict>
            <key>huoqiu5.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,95},{220,89}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,9},{220,89}}</string>
                <key>sourceSize</key>
                <string>{250,113}</string>
            </dict>
            <key>huoqiu6.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,95},{220,89}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,9},{220,89}}</string>
                <key>sourceSize</key>
                <string>{250,113}</string>
            </dict>
            <key>huoqiu7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,87},{220,91}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,9},{220,91}}</string>
                <key>sourceSize</key>
                <string>{250,113}</string>
            </dict>
            <key>huoqiu8.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,2},{220,91}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,9},{220,91}}</string>
                <key>sourceSize</key>
                <string>{250,113}</string>
            </dict>
            <key>huoqiu9.png</key>
            <dict>
                <key>frame</key>
                <string>{{95,259},{190,91}}</string>
                <key>offset</key>
                <string>{14,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{44,12},{190,91}}</string>
                <key>sourceSize</key>
                <string>{250,113}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>dahuoqiu.pvr.ccz</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:df930648e4b4db10acfee86531d19490$</string>
            <key>textureFileName</key>
            <string>dahuoqiu.pvr.ccz</string>
        </dict>
    </dict>
</plist>
