<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fenghuang13.png</key>
            <dict>
                <key>frame</key>
                <string>{{1791,324},{363,254}}</string>
                <key>offset</key>
                <string>{-148,-38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{43,76},{363,254}}</string>
                <key>sourceSize</key>
                <string>{745,330}</string>
            </dict>
            <key>fenghuang14.png</key>
            <dict>
                <key>frame</key>
                <string>{{1264,624},{423,274}}</string>
                <key>offset</key>
                <string>{-157,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,56},{423,274}}</string>
                <key>sourceSize</key>
                <string>{745,330}</string>
            </dict>
            <key>fenghuang15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,648},{647,290}}</string>
                <key>offset</key>
                <string>{19,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{68,40},{647,290}}</string>
                <key>sourceSize</key>
                <string>{745,330}</string>
            </dict>
            <key>fenghuang16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,326},{677,320}}</string>
                <key>offset</key>
                <string>{11,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,10},{677,320}}</string>
                <key>sourceSize</key>
                <string>{745,330}</string>
            </dict>
            <key>fenghuang17.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{697,322}}</string>
                <key>offset</key>
                <string>{11,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,8},{697,322}}</string>
                <key>sourceSize</key>
                <string>{745,330}</string>
            </dict>
            <key>fenghuang18.png</key>
            <dict>
                <key>frame</key>
                <string>{{701,2},{627,318}}</string>
                <key>offset</key>
                <string>{46,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{105,12},{627,318}}</string>
                <key>sourceSize</key>
                <string>{745,330}</string>
            </dict>
            <key>fenghuang19.png</key>
            <dict>
                <key>frame</key>
                <string>{{1330,2},{601,320}}</string>
                <key>offset</key>
                <string>{57,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{129,7},{601,320}}</string>
                <key>sourceSize</key>
                <string>{745,330}</string>
            </dict>
            <key>fenghuang20.png</key>
            <dict>
                <key>frame</key>
                <string>{{701,322},{561,322}}</string>
                <key>offset</key>
                <string>{80,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{172,8},{561,322}}</string>
                <key>sourceSize</key>
                <string>{745,330}</string>
            </dict>
            <key>fenghuang21.png</key>
            <dict>
                <key>frame</key>
                <string>{{1264,324},{525,298}}</string>
                <key>offset</key>
                <string>{86,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{196,19},{525,298}}</string>
                <key>sourceSize</key>
                <string>{745,330}</string>
            </dict>
            <key>fenghuang22.png</key>
            <dict>
                <key>frame</key>
                <string>{{1689,689},{355,290}}</string>
                <key>offset</key>
                <string>{172,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{367,26},{355,290}}</string>
                <key>sourceSize</key>
                <string>{745,330}</string>
            </dict>
            <key>fenghuang23.png</key>
            <dict>
                <key>frame</key>
                <string>{{651,648},{337,292}}</string>
                <key>offset</key>
                <string>{179,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{383,26},{337,292}}</string>
                <key>sourceSize</key>
                <string>{745,330}</string>
            </dict>
            <key>fenghuang24.png</key>
            <dict>
                <key>frame</key>
                <string>{{990,646},{321,260}}</string>
                <key>offset</key>
                <string>{180,-20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{392,55},{321,260}}</string>
                <key>sourceSize</key>
                <string>{745,330}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fenghuang.pvr.ccz</string>
            <key>size</key>
            <string>{2048,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:09eb1b97832e413d2b0cfd62de51b9ec$</string>
            <key>textureFileName</key>
            <string>fenghuang.pvr.ccz</string>
        </dict>
    </dict>
</plist>
