<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>ta-parts-lizii7.png</key>
			<dict>
				<key>width</key>
				<integer>261</integer>
				<key>height</key>
				<integer>263</integer>
				<key>originalWidth</key>
				<integer>819</integer>
				<key>originalHeight</key>
				<integer>615</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-12</real>
				<key>offsetY</key>
				<real>-4</real>
			</dict>
			<key>ta-parts-lizii8.png</key>
			<dict>
				<key>width</key>
				<integer>305</integer>
				<key>height</key>
				<integer>283</integer>
				<key>originalWidth</key>
				<integer>819</integer>
				<key>originalHeight</key>
				<integer>615</integer>
				<key>x</key>
				<integer>261</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-14</real>
				<key>offsetY</key>
				<real>-14</real>
			</dict>
			<key>ta-parts-lizii9.png</key>
			<dict>
				<key>width</key>
				<integer>347</integer>
				<key>height</key>
				<integer>311</integer>
				<key>originalWidth</key>
				<integer>819</integer>
				<key>originalHeight</key>
				<integer>615</integer>
				<key>x</key>
				<integer>566</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-16</real>
				<key>offsetY</key>
				<real>-22</real>
			</dict>
			<key>ta-parts-dun.png</key>
			<dict>
				<key>width</key>
				<integer>212</integer>
				<key>height</key>
				<integer>212</integer>
				<key>originalWidth</key>
				<integer>213</integer>
				<key>originalHeight</key>
				<integer>213</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>311</integer>
				<key>offsetX</key>
				<real>-0.5</real>
				<key>offsetY</key>
				<real>0.5</real>
			</dict>
			<key>ta-parts-beijing.png</key>
			<dict>
				<key>width</key>
				<integer>265</integer>
				<key>height</key>
				<integer>87</integer>
				<key>originalWidth</key>
				<integer>265</integer>
				<key>originalHeight</key>
				<integer>87</integer>
				<key>x</key>
				<integer>212</integer>
				<key>y</key>
				<integer>311</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>0</integer>
			<key>textureFileName</key>
			<string>Tower31.png</string>
			<key>realTextureFileName</key>
			<string>Tower31.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>