<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dahzao1.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,895},{112,105}}</string>
                <key>offset</key>
                <string>{21,-45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{141,178},{112,105}}</string>
                <key>sourceSize</key>
                <string>{352,371}</string>
            </dict>
            <key>dahzao10.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,651},{242,217}}</string>
                <key>offset</key>
                <string>{-17,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{38,79},{242,217}}</string>
                <key>sourceSize</key>
                <string>{352,371}</string>
            </dict>
            <key>dahzao11.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,239},{192,139}}</string>
                <key>offset</key>
                <string>{-20,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{60,125},{192,139}}</string>
                <key>sourceSize</key>
                <string>{352,371}</string>
            </dict>
            <key>dahzao12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,918},{182,93}}</string>
                <key>offset</key>
                <string>{-27,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{58,143},{182,93}}</string>
                <key>sourceSize</key>
                <string>{352,371}</string>
            </dict>
            <key>dahzao13.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,918},{154,91}}</string>
                <key>offset</key>
                <string>{-11,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,146},{154,91}}</string>
                <key>sourceSize</key>
                <string>{352,371}</string>
            </dict>
            <key>dahzao2.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,2},{228,235}}</string>
                <key>offset</key>
                <string>{23,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{85,77},{228,235}}</string>
                <key>sourceSize</key>
                <string>{352,371}</string>
            </dict>
            <key>dahzao3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{194,337}}</string>
                <key>offset</key>
                <string>{18,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{97,14},{194,337}}</string>
                <key>sourceSize</key>
                <string>{352,371}</string>
            </dict>
            <key>dahzao4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,651},{190,265}}</string>
                <key>offset</key>
                <string>{7,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,32},{190,265}}</string>
                <key>sourceSize</key>
                <string>{352,371}</string>
            </dict>
            <key>dahzao5.png</key>
            <dict>
                <key>frame</key>
                <string>{{413,525},{214,233}}</string>
                <key>offset</key>
                <string>{10,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,49},{214,233}}</string>
                <key>sourceSize</key>
                <string>{352,371}</string>
            </dict>
            <key>dahzao6.png</key>
            <dict>
                <key>frame</key>
                <string>{{449,760},{230,215}}</string>
                <key>offset</key>
                <string>{20,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{81,70},{230,215}}</string>
                <key>sourceSize</key>
                <string>{352,371}</string>
            </dict>
            <key>dahzao7.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,2},{204,281}}</string>
                <key>offset</key>
                <string>{1,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,70},{204,281}}</string>
                <key>sourceSize</key>
                <string>{352,371}</string>
            </dict>
            <key>dahzao8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,341},{308,231}}</string>
                <key>offset</key>
                <string>{-18,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,74},{308,231}}</string>
                <key>sourceSize</key>
                <string>{352,371}</string>
            </dict>
            <key>dahzao9.png</key>
            <dict>
                <key>frame</key>
                <string>{{235,285},{238,193}}</string>
                <key>offset</key>
                <string>{-13,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{44,84},{238,193}}</string>
                <key>sourceSize</key>
                <string>{352,371}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>bigSkillAttack_fankelifu.pvr.ccz</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ea990d4166d12d606459de3bb7cf2601$</string>
            <key>textureFileName</key>
            <string>bigSkillAttack_fankelifu.pvr.ccz</string>
        </dict>
    </dict>
</plist>
