<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>huodong_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{675,2},{207,230}}</string>
                <key>offset</key>
                <string>{6,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,0},{207,230}}</string>
                <key>sourceSize</key>
                <string>{227,230}</string>
            </dict>
            <key>huodong_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,2},{221,230}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{221,230}}</string>
                <key>sourceSize</key>
                <string>{227,230}</string>
            </dict>
            <key>huodong_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{223,230}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{223,230}}</string>
                <key>sourceSize</key>
                <string>{227,230}</string>
            </dict>
            <key>huodong_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{227,2},{223,230}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{223,230}}</string>
                <key>sourceSize</key>
                <string>{227,230}</string>
            </dict>
            <key>huodong_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1298,2},{203,230}}</string>
                <key>offset</key>
                <string>{8,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,0},{203,230}}</string>
                <key>sourceSize</key>
                <string>{227,230}</string>
            </dict>
            <key>huodong_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1503,2},{203,230}}</string>
                <key>offset</key>
                <string>{8,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,0},{203,230}}</string>
                <key>sourceSize</key>
                <string>{227,230}</string>
            </dict>
            <key>huodong_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1708,2},{203,230}}</string>
                <key>offset</key>
                <string>{8,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,0},{203,230}}</string>
                <key>sourceSize</key>
                <string>{227,230}</string>
            </dict>
            <key>huodong_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{884,2},{205,230}}</string>
                <key>offset</key>
                <string>{7,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,0},{205,230}}</string>
                <key>sourceSize</key>
                <string>{227,230}</string>
            </dict>
            <key>huodong_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1091,2},{205,230}}</string>
                <key>offset</key>
                <string>{7,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,0},{205,230}}</string>
                <key>sourceSize</key>
                <string>{227,230}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>huodongAnimation.png</string>
            <key>size</key>
            <string>{1913,234}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6d4714a40b9e91fdf2ba06472e5a52f6:e79020b300e234b21b424b0b309174ac:b3e3fec86dcbadfbb06742aeeec3fac5$</string>
            <key>textureFileName</key>
            <string>huodongAnimation.png</string>
        </dict>
    </dict>
</plist>
