<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>c0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{492,2},{243,48}}</string>
                <key>offset</key>
                <string>{-18,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,12},{243,48}}</string>
                <key>sourceSize</key>
                <string>{285,70}</string>
            </dict>
            <key>c0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{492,2},{243,48}}</string>
                <key>offset</key>
                <string>{-18,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,12},{243,48}}</string>
                <key>sourceSize</key>
                <string>{285,70}</string>
            </dict>
            <key>c0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{247,2},{243,48}}</string>
                <key>offset</key>
                <string>{-18,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,12},{243,48}}</string>
                <key>sourceSize</key>
                <string>{285,70}</string>
            </dict>
            <key>c0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{247,2},{243,48}}</string>
                <key>offset</key>
                <string>{-18,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,12},{243,48}}</string>
                <key>sourceSize</key>
                <string>{285,70}</string>
            </dict>
            <key>c0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{243,48}}</string>
                <key>offset</key>
                <string>{-18,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,12},{243,48}}</string>
                <key>sourceSize</key>
                <string>{285,70}</string>
            </dict>
            <key>c0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{243,48}}</string>
                <key>offset</key>
                <string>{-18,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,12},{243,48}}</string>
                <key>sourceSize</key>
                <string>{285,70}</string>
            </dict>
            <key>c0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{737,2},{243,44}}</string>
                <key>offset</key>
                <string>{-18,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,16},{243,44}}</string>
                <key>sourceSize</key>
                <string>{285,70}</string>
            </dict>
            <key>c0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{737,2},{243,44}}</string>
                <key>offset</key>
                <string>{-18,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,16},{243,44}}</string>
                <key>sourceSize</key>
                <string>{285,70}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>bigSkillAttack_fengxing.pvr.ccz</string>
            <key>size</key>
            <string>{982,52}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:361307113196a98ba9651470333bfe49$</string>
            <key>textureFileName</key>
            <string>bigSkillAttack_fengxing.pvr.ccz</string>
        </dict>
    </dict>
</plist>
